<!-- New Design -->
<div class="sidebar">
  <div class="logo-details">
    <i class="fab fa-creative-commons icon"></i>
    <div class="logo_name">ITERL</div>
    <i class="fas fa-bars" id="btn"></i>
  </div>
  <ul class="nav-list">
    <li>
      <i class="fas fa-search"></i>
      <input type="text" placeholder="Search..." />
      <span class="tooltip">Search</span>
    </li>
    <li>
      <a routerLink="/dashboard">
        <i class="fas fa-tachometer-alt"></i>
        <span class="links_name">Dashboard</span>
      </a>
      <span class="tooltip">Dashboard</span>
    </li>
    <li>
      <a routerLink="/lab_commission">
        <i class="fa-solid fa-plus"></i>
        <span class="links_name">Lab Commission</span>
      </a>
      <span class="tooltip">Lab Commission</span>
    </li>

    <li>
      <a routerLink="/self-check">
        <i class="fa-solid fa-list-check"></i>
        <span class="links_name">Self check</span>
      </a>
      <span class="tooltip">Self-check</span>
    </li>

    <<<<<<< HEAD ======= >>>>>>> kranti
    <li>
      <a routerLink="/lab-decommission">
        <i class="fa-solid fa-file-zipper"></i>
        <span class="links_name">Lab Decommission</span>
      </a>
      <span class="tooltip">Lab Decommission</span>
    </li>

    <li class="profile">
      <div class="profile-details">
        <<<<<<< HEAD
        <img src="proficon.jpg" alt="profileImg" />
        =======
        <img src="proficon.jpg" alt="profileImg" />
        >>>>>>> kranti
        <div class="name_job">
          <div class="name">Kranti S.</div>
          <div class="job">Local ITL</div>
        </div>
      </div>
      <<<<<<< HEAD
      <i class="fas fa-sign-out-alt" id="log_out"></i>
      =======
      <i class="fas fa-sign-out-alt" id="log_out"></i>
      >>>>>>> kranti
    </li>
  </ul>
</div>
