@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

// Kranti Sonawane

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin-left: 2px; /* Margin when sidebar is collapsed */
  width: calc(100% - 25px);
}

.main-content {
  display: flex;
  flex: 1;
}

app-sidebar {
  transition: width 0.5s ease;
  height: calc(100vh - 64px);
  width: 25px; /* Default width when collapsed */
}

/* Content styles */
.content {
  flex: 1; /* Take the remaining space */
  padding: 20px; /* Some padding */
  overflow-y: auto;
  height: calc(100vh - 64px);
  position: relative;
  transition: margin-left 0.5s ease, width 0.5s ease;
}


.content {
  margin-left: 40px; /* Margin when sidebar is collapsed */
  width: calc(100% - 25px); /* Width when sidebar is collapsed */
}

/* Expanded sidebar styles */
// app-sidebar.open {
//   width: 250px; /* Width when expanded */
// }


//app-sidebar.open ~ .container
app-sidebar.open ~ .content {
  margin-left: 25px; /* Margin when sidebar is expanded */
  width: calc(100% - 25px); /* Adjust width when sidebar is expanded */
}
