<div class="page-heading">
  <a>Lab List</a>
</div>
<div class="subheading">
  <a>*Select Lab for Decommission</a>
</div>

<!-- Search Bar -->
<div class="search-bar">
  <input type="text" [(ngModel)]="searchQuery" placeholder="Search labs..." />
  <button (click)="onSearch()">Search</button>
  <!-- <input type="text" [(ngModel)]="ntId" placeholder="Enter Lab Coordinator NT-ID..." />
  <button (click)="loadLabList(ntId)">Search by NT-ID</button> -->
</div>

<div *ngIf="isLoading" class="loading-spinner">
  <mat-spinner></mat-spinner>
  Loading Labs...
</div>

<ul class="lab-list">
  <li *ngFor="let lab of filteredLabList | filter : searchQuery" class="lab-item">
    <!-- Collapsible Section Header -->
    <div class="collapsible-header">
      <div class="lab-name-container">
        <span class="lab-header" (click)="toggleDetails(lab.id)">
          <ul>
            <li class="lab-number">{{ lab.labNo }}</li>
            <li class="lab-subheader">
              {{ lab.entityName }} -> {{ lab.gb }} -> {{ lab.dep_name }}
            </li>
          </ul>
        </span>
      </div>
      <button *ngIf="!isExpanded(lab.id)" (click)="removeLab(lab.id)" class="remove-button">
        Decommission
      </button>
    </div>
    <!-- Collapsible Content -->
    <div *ngIf="isExpanded(lab.id)" class="collapsible-content">
      <div class="grid-container">
        <div class="column">
          <!-- <div *ngFor="let item of lab"> -->
          <p><strong>Region:</strong> {{ lab.region }}</p>
          <p><strong>Country:</strong> {{ lab.country }}</p>
          <p><strong>Location-Code:</strong> {{ lab.locationCode }}</p>
          <p><strong>Entity:</strong> {{ lab.entityName }}</p>
          <p><strong>GB:</strong> {{ lab.gb }}</p>
          <p><strong>Local-ITL:</strong> {{ lab.local_itl }}</p>
          <p><strong>Local-ITL Proxy:</strong> {{ lab.local_itl_proxy }}</p>
          <p><strong>Department Head:</strong> {{lab. dh }}</p>
          <p><strong>Key Account Manager:</strong> {{ lab.kam }}</p>
          <p><strong>Department:</strong> {{ lab.dep_name }}</p>
          <p><strong>Building:</strong> {{ lab.building }}</p>
          <p><strong>Floor:</strong> {{ lab.floor }}</p>
          <p><strong>Lab No/Lab Name :</strong> {{ lab.labNo }}</p>
        </div>
        <div class="column">
          <p><strong>Primary Lab Coordinator:</strong> {{ lab.primary_lab_cord }}</p>
          <p><strong>Secondary Lab Coordinator:</strong> {{ lab.secondary_lab_cord }}</p>
          <p><strong>Cost Center:</strong> {{ lab.cost_center }}</p>
          <p><strong>Kind of Lab:</strong> {{ lab.kind_of_lab }}</p>
          <p><strong>Purpose of Lab:</strong> {{ lab.purpose_of_lab }}</p>
          <p><strong>Description:</strong> {{ lab.description }}</p>

          <p>
            <strong>Is lab going to procure new equipment for Engineering/Red
              Zone?</strong>
            {{ lab.new_equipment}}
          </p>
          <p>
            <strong>Shared Lab:</strong>
            {{ lab.shared_lab}}
          </p>
          <p>
            <strong>Self Audit Due Date:</strong>
            {{ lab.self_audit_date | dateFormat: 'MM/DD/yyyy'}}
          </p>
          <p>
            <strong>ACL Required:</strong>
            {{ lab.acl_req}}
          </p>

          <p><strong>No. of Green Ports:</strong> {{ lab.green_ports }}</p>
          <p><strong>No. of Yellow Ports:</strong> {{ lab.yellow_ports }}</p>
          <p><strong>No. of Red Ports:</strong> {{ lab.red_ports }}</p>

        </div>
      </div>
      <button (click)="removeLab(lab.id)" class="remove-button">
        <mat-icon svgIcon="deletewh"></mat-icon>Decommission
      </button>
    </div>
  </li>
</ul>