<!-- User Information Box -->
<div class="container">
  <div class="form-box">
    <p class="field-header">User Information</p>
    <div class="input-group">
      <div class="input-item">
        <label for="name">Name<span class="required"> *</span></label>
        <input type="text" id="username" [(ngModel)]="username" placeholder="Username" required minlength="3"
        [disabled]="true" />
      </div>
      <div class="input-item">
        <label for="ntid">NT-ID<span class="required"> *</span></label>
        <input type="text" id="ntid" [(ngModel)]="ntid" placeholder="NT-ID" required minlength="3"
        [disabled]="true" />
      </div>
      <div class="input-item">
        <label for="department">Department<span class="required"> *</span></label>
        <input type="text" id="department" [(ngModel)]="department" placeholder="Department" required minlength="3"
        [disabled]="true" />
      </div>
    </div>
  </div>
</div>

<!-- Contact Us Box -->
<div class="container">
  <div class="form-box">
    <p class="field-header">Contact Us</p>
    <div class="input-group">
      <div class="input-item">
        <label for="category">Query Category<span class="required"> *</span></label>
        <select [(ngModel)]="selectedCategory" name="category" required>
          <option value="">Select a Category</option>
          <option value="general">General Inquiry</option>
          <option value="support">Support</option>
          <option value="feedback">Feedback</option>
          <option value="other">Other</option>
        </select>
      </div>
    </div>

    <!-- Text box for 'Other' category -->
    <div *ngIf="selectedCategory === 'other'" class="input-item">
      <label for="otherQuery">Please specify:</label>
      <input type="text" id="otherQuery" placeholder="Describe your query" />
    </div>
  </div>
</div>

<!-- Feedback Box -->
<div class="container">
  <div class="form-box">
    <p class="field-header">Feedback</p>
    <div class="input-group">
      <div class="input-item">
        <label for="feedback">Please, provide your feedback about our application<span class="required"> *</span></label>
        <textarea id="feedback" name="feedback" rows="4" placeholder="Provide your feedback" required></textarea>
      </div>
    </div>
  </div>
</div>

<!-- Submit Button -->
<button class="success_btn">Submit</button>
