


 <mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">
  <mat-tab class="" label="Quiz">
    <div>
      <h2>Welcome to ITERL</h2>
      <p class="instruction">To proceed with your application, please watch the following video in its entirety. Once you have finished watching the video, you will be able to take the quiz.</p>
      <!-- <video #videoPlayer width="600" controls>
        <source src="assets/images/test.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <P></P>
      <button mat-raised-button color="primary" (click)="proceedToQuiz()">Proceed to Quiz</button>
      <div *ngIf="showQuizSection" class="quiz-section"> -->
        <!-- <h2 class="instruction">Quiz Instructions</h2> -->
        <p class="instruction">Now that you have watched the video, it's time to take a short quiz to test your understanding. You need to score at least 80% to proceed to the application form. Answer all the questions to the best of your ability. Good luck!</p>
        <!--------------------Multiple Select Questions -------------------------------->

        <h2>Multiple Select Questions</h2>
        <p>Please Select only 1 correct option.</p>
        <form>
          <p>I have taken a picture of the system with my mobile phone and need to transfer the image to the OT end device. I will do it via USB cable... What could happen?<span class="required"> *</span></p>
                <div class="checkbox-container">
                  <div class="checkbox-item">
                    <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord" (change)="onSelectionChangeQ1('primary_lab_cord', $event)">
                    <label for="primary_lab_cord">You can transfer data only up to 2 GB.</label>
                  </div>
                  <div class="checkbox-item">
                    <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
                    <label for="secondary_lab_cord">With a connection between the smartphone and the OT end device malware can be transmitted!</label>
                  </div>
                  <div class="checkbox-item">
                    <input type="checkbox" id="local_itl" name="roles" value="local_itl">
                    <label for="local_itl">We should not connect smartphone to OT end device.</label>
                  </div>
                  <div class="checkbox-item">
                    <input type="checkbox" id="local_itl_proxy" name="roles" value="local_itl_proxy">
                    <label for="local_itl_proxy">You can transfer document files not images.</label>
                  </div>
                </div>
            <p>Difficulties in Operational Technology area...<span class="required"> *</span></p>
            <div class="checkbox-container">
              <div class="checkbox-item">
                <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord">
                <label for="primary_lab_cord">Longer Lifetime</label>
              </div>
              <div class="checkbox-item">
                <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
                <label for="secondary_lab_cord">Missing standards- HW and SW
                </label>
              </div>
              <div class="checkbox-item">
                <input type="checkbox" id="local_itl" name="roles" value="local_itl">
                <label for="local_itl">Extensive planning in case of emergency</label>
              </div>
              <div class="checkbox-item">
                <input type="checkbox" id="local_itl_proxy" name="roles" value="local_itl_proxy">
                <label for="local_itl_proxy">Longer data management</label>
              </div>
              <div class="checkbox-item">
                <input type="checkbox" id="local_itl_proxy" name="roles" value="local_itl_proxy">
                <label for="local_itl_proxy">Longer data management</label>
              </div>
              <div class="checkbox-item">
                <input type="checkbox" id="local_itl_proxy" name="roles" value="local_itl_proxy">
                <label for="local_itl_proxy">only a few specialists for old technology</label>
              </div>
          </div>
          <p>In case of lab emergency (ITL Topic) please contact<span class="required"> *</span></p>
          <div class="checkbox-container">
            <div class="checkbox-item">
              <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord">
              <label for="primary_lab_cord">Lab Coordinator</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
              <label for="secondary_lab_cord">Local ITL/Proxy</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl" name="roles" value="local_itl">
              <label for="local_itl">Dept DSP</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl_proxy" name="roles" value="local_itl_proxy">
              <label for="local_itl_proxy">FCM</label>
            </div>
          </div>
          <p>What are the network zones in Bosch<span class="required"> *</span></p>
          <div class="checkbox-container">
            <div class="checkbox-item">
              <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord">
              <label for="primary_lab_cord">Green (BCN)</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
              <label for="secondary_lab_cord">Red (Engineering)</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl" name="roles" value="local_itl">
              <label for="local_itl">Yellow (Service)</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl_proxy" name="roles" value="local_itl_proxy">
              <label for="local_itl_proxy">Blue (Unrestricted)</label>
            </div>
          </div>
          <p>Data transfer should happen...<span class="required"> *</span></p>
          <div class="checkbox-container">
            <div class="checkbox-item">
              <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord">
              <label for="primary_lab_cord">From Red to Green Via Yellow zone</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
              <label for="secondary_lab_cord">From Red to Green Directly</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl" name="roles" value="local_itl">
              <label for="local_itl">From Red to Yellow directly</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl_proxy" name="roles" value="local_itl_proxy">
              <label for="local_itl_proxy">From yellow to Green or Vice versa</label>
            </div>
          </div>
          <p>Features of Red zone devices<span class="required"> *</span></p>
          <div class="checkbox-container">
            <div class="checkbox-item">
              <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord">
              <label for="primary_lab_cord">Non SCCM PC</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
              <label for="secondary_lab_cord">Outside Network</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl" name="roles" value="local_itl">
              <label for="local_itl">No Virus Protection  </label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl_proxy" name="roles" value="local_itl_proxy">
              <label for="local_itl_proxy">USB enabled</label>
            </div>
          </div>
          <p>Green zone device have..<span class="required"> *</span></p>
          <div class="checkbox-container">
            <div class="checkbox-item">
              <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord">
              <label for="primary_lab_cord">Static IP address</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
              <label for="secondary_lab_cord">DHCP</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl" name="roles" value="local_itl">
              <label for="local_itl">SCCM system</label>
            </div>
          </div>
          <p>What documents should be pasted on board inside lab?<span class="required"> *</span></p>
          <div class="checkbox-container">
            <div class="checkbox-item">
              <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord">
              <label for="primary_lab_cord">Lab Layout</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
              <label for="secondary_lab_cord">Emergency Contact Document</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl" name="roles" value="local_itl">
              <label for="local_itl">Remote Access</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl_proxy" name="roles" value="local_itl_proxy">
              <label for="local_itl_proxy">Deviation Document</label>
            </div>
          </div>
          <p>It’s a shame, my holiday is over again. Fortunately, I took a lot of pictures that I can show to my colleagues. Damn it! The USB stick does not work at my workplace.
            What behaviors or actions should I avoid?<span class="required"> *</span></p>
          <div class="checkbox-container">
            <div class="checkbox-item">
              <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord">
              <label for="primary_lab_cord">I will try it on a test bench or machine.</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
              <label for="secondary_lab_cord">I will try it on my personal phone.</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl" name="roles" value="local_itl">
              <label for="local_itl">I will try it on other members testbench</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl_proxy" name="roles" value="local_itl_proxy">
              <label for="local_itl_proxy">I should do it on my personal laptop</label>
            </div>
          </div>

          <p>What activities should we ensure inside lab?<span class="required"> *</span></p>
          <div class="checkbox-container">
            <div class="checkbox-item">
              <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord">
              <label for="primary_lab_cord">Raise a request for an Access Control List (ACL) if network segregation is needed to separate Engineering and BCN zone devices.</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
              <label for="secondary_lab_cord">Perform virus pre-checks on IT devices before connecting them to the network</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl" name="roles" value="local_itl">
              <label for="local_itl">Use color code for ‘yellow’ and ‘red’ for port in Network sockets</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl_proxy" name="roles" value="local_itl_proxy">
              <label for="local_itl_proxy">Analyze ACL logs annually and release any unused IP addresses</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl_proxy" name="roles" value="local_itl_proxy">
              <label for="local_itl_proxy">Document any deviations or special cases and get them acknowledged by management. </label>
            </div>
          </div>
          <p>What activities should we avoid performing inside lab?<span class="required"> *</span></p>
          <div class="checkbox-container">
            <div class="checkbox-item">
              <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord">
              <label for="primary_lab_cord">connecting SCCM or BCN laptops to BTIA routers</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
              <label for="secondary_lab_cord">use USB data carriers for data transfer</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl" name="roles" value="local_itl">
              <label for="local_itl">using hard disks for data backups</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl_proxy" name="roles" value="local_itl_proxy">
              <label for="local_itl_proxy">use Wi-Fi services from external vendors</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl_proxy" name="roles" value="local_itl_proxy">
              <label for="local_itl_proxy">using mobile hotspots to connect Red Zone devices to the internet</label>
            </div>
          </div>
          <p>The requirements to the IT-Security should be adhered to during the procurement of IT-Systems, especially..<span class="required"> *</span></p>
          <div class="checkbox-container">
            <div class="checkbox-item">
              <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord">
              <label for="primary_lab_cord">components (e.g., USB port locker) for intrinsic safety for a system hardening</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
              <label for="secondary_lab_cord">backup and recovery</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl" name="roles" value="local_itl">
              <label for="local_itl">protection from malware (virus protection)</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl_proxy" name="roles" value="local_itl_proxy">
              <label for="local_itl_proxy">patch management</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl_proxy" name="roles" value="local_itl_proxy">
              <label for="local_itl_proxy">remote access</label>
            </div>
          </div>
          <p>Remote access on an IT end device is only permissible if the following characteristics are met:<span class="required"> *</span></p>
          <div class="checkbox-container">
            <div class="checkbox-item">
              <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord">
              <label for="primary_lab_cord">The remote access to the target has to have a timely limit. No remote access to the target should be possible outside the defined period.</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
              <label for="secondary_lab_cord">The parameterization of the communication connection helps ensure that only the released target is directly accessible. Only a 1:1 access is permitted (one source to one target).</label>
            </div>
          </div>

 <!--------------------Multiple Choice Questions -------------------------------->

          <h2>Multiple Choice Questions</h2>
          <p>Please Select only 1 correct option.</p>
          <p>In the case of reorganizations (relocation of laboratory areas or restructuring of networks), a self- audit for the new areas must be carried out within<span class="required"> *</span></p>
          <div class="checkbox-container">
            <div class="checkbox-item">
              <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord">
              <label for="primary_lab_cord">3 months</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
              <label for="secondary_lab_cord">6 months</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl" name="roles" value="local_itl">
              <label for="local_itl">1 year</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl_proxy" name="roles" value="local_itl_proxy">
              <label for="local_itl_proxy">5 months</label>
            </div>
          </div>
          <p>The service engineer has not installed any virus protection on his notebook. Do you allow him to proceed?<span class="required"> *</span></p>
          <div class="checkbox-container">
            <div class="checkbox-item">
              <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord">
              <label for="primary_lab_cord">Yes</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
              <label for="secondary_lab_cord">No</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl" name="roles" value="local_itl">
              <label for="local_itl">May be</label>
            </div>
          </div>
          <p>Do we need to include The Local-ITL / Proxy in the ordering process of MAE (Machinery and equipment) device?<span class="required"> *</span></p>
          <div class="checkbox-container">
            <div class="checkbox-item">
              <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord">
              <label for="primary_lab_cord">Yes</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
              <label for="secondary_lab_cord">No</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl" name="roles" value="local_itl">
              <label for="local_itl">May be</label>
            </div>
          </div>
          <p>Access control lists are required to...<span class="required"> *</span></p>
          <div class="checkbox-container">
            <div class="checkbox-item">
              <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord">
              <label for="primary_lab_cord">prevent unauthorized activities from restricted users.</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
              <label for="secondary_lab_cord">prevent unauthorized activities from unrestricted users.</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl" name="roles" value="local_itl">
              <label for="local_itl">prevent authorized activities from unrestricted users.</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl" name="roles" value="local_itl">
              <label for="local_itl">prevent authorized activities from restricted users.</label>
            </div>
          </div>
          <p>For software without Bosch CERT safety instructions, security patches have to be installed in<span class="required"> *</span></p>
          <div class="checkbox-container">
            <div class="checkbox-item">
              <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord">
              <label for="primary_lab_cord">a predefined, regular patch cycle (at least four times a year) according to the publishing cycle and recommendations of the software manufacturer.</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
              <label for="secondary_lab_cord">at least two times a year according to the publishing cycle and recommendations of the software manufacturer.</label>
            </div>
          </div>
          <p>Self-Audit takes place ............ a year.<span class="required"> *</span></p>
          <div class="checkbox-container">
            <div class="checkbox-item">
              <input type="checkbox" id="primary_lab_cord" name="roles" value="primary_lab_cord">
              <label for="primary_lab_cord">Once</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="secondary_lab_cord" name="roles" value="secondary_lab_cord">
              <label for="secondary_lab_cord">Twice</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl" name="roles" value="local_itl">
              <label for="local_itl">Thrice</label>
            </div>
            <div class="checkbox-item">
              <input type="checkbox" id="local_itl" name="roles" value="local_itl">
              <label for="local_itl">None of the above</label>
            </div>
          </div>

          <button mat-raised-button color="primary" type="submit">Submit Quiz</button>
        </form>
        <p class="error-message">You need at least 80% to proceed.</p>
      </div>
    <!-- </div> -->

  </mat-tab>
  <mat-tab class="" label="Apply for role">
    <p class="first">NT-ID of User<span class="required"> *</span></p>
    <div class="dropdown-container">
      <div class="dropdown-item">

        <input
          type="text"
          id="local-ITL"
          placeholder="NTID"
          required
          minlength="7"

        />

        </div>
      </div>

    <div class="entity/GB">
      <p>Entity and GB<span class="required"> *</span></p>
      <div class="dropdown-container">
        <div class="dropdown-item">
          <input
          type="text"
          id="local-ITL"
          placeholder="Entity Name"
          required
          minlength="7"

        />
        </div>

      <div class="dropdown-item">
        <input
          type="text"
          id="local-ITL"
          placeholder="GB Name"
          required
          minlength="7"

        />

        </div>
       </div>
    </div>
    <p>Select role you want to apply<span class="required"> *</span></p>
    <div class="dropdown-container">
      <div class="dropdown-item">

        <select
          id="regionSelect"
          name="region">
          <option value="">Select a Role</option>
          <option value="primary_lab_cord">Primary Lab Coordinator</option>
          <option value="secondary_lab_cord">Secondary Lab Coordinator</option>
          <option value="local_itl">Local ITL</option>
          <option value="local_itl_proxy">Local ITL Proxy</option>

        </select>
      </div>
      </div>
      <p class="first-field">Give the lab names<span class="required"> *</span></p>
    <div class="dropdown-container">
      <div class="dropdown-item">

        <input
          type="text"
          id="local-ITL"
          placeholder="description"
          required
          minlength="7"

        />

        </div>
      </div>
      <button class="success_btn" >Submit</button>
  </mat-tab>
</mat-tab-group>
