@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

// Global Styles
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
//content styling
h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;

}

.instruction {
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.5;
  color: rgb(39, 21, 236);
  font-weight: 500;
}
.first{
  padding-top: 30px;
}
p{
  font-size: 15px;
  padding-top: 4px;
  //color: black;
  font-weight: 400;
}
// label {
//   display: block;
//   margin-bottom: 5px;
//   font-weight:400;
//   font-size: 10px;

// }
//Quiz Styling

.checkbox-container {
  display: flex;
  flex-direction: column; /* Stack checkboxes vertically */
  gap: 10px;
  background: white;
  box-shadow: 0 0 15px 1px rgba(105, 142, 159, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  margin-bottom: 20px;
  margin-left: 6px;
  margin-top: 10px;
}
.required{
  color: red;
}
.checkbox-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: #4d90fe; /* Sets the color of the checkbox checkmark */
}

.checkbox-item label {
  font-size: 14px;
  cursor: pointer; /* Change cursor to pointer on hover */
}

.checkbox-item input[type="checkbox"]:disabled + label {
  color: #999;
  cursor: not-allowed;
}

