<h2>New Lab Commission</h2>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="left">
  <mat-tab label="Import File">
    <div class="importfile">
      <div class="importbutton">
        <a>
          Choose File to upload:
          <input type="file" (change)="onFileChanged($event)" />
        </a>
      </div>
      <div class="buttons">
        <div class="buttons2">
          <button
            class="previewbutton"
            [disabled]="!fileSelected"
            (click)="onPreview()"
          >
            Preview
          </button>
        </div>

        <div class="buttons2">
          <button class="templatebutton" (click)="onDownloadTemplate()">
            Download template
          </button>
        </div>
      </div>
    </div>

    <!------------------------------------------------------------------------------------------------------------------------------------>

    <div *ngIf="previewVisible">
      <div class="previewtextheading">
        <h4>Preview of Excel Data</h4>
      </div>
      <a class="sub">
        <button
          mat-button
          class="subbutton"
          [disabled]="!fileSelected"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </a>
      <table class="excel-table">
        <thead>
          <tr>
            <th *ngFor="let header of excelData[0]">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of excelData.slice(1)">
            <td *ngFor="let cell of row">{{ cell }}</td>
          </tr>
        </tbody>
      </table>
      <a class="sub">
        <button
          mat-button
          class="subbutton"
          [disabled]="!fileSelected"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </a>
    </div>
  </mat-tab>
  <!---------------------------------------------------------------------------------------------------------------------------------->
  <mat-tab label="Fill Form" class="formfill">
    <!-------------------------------------------Site Details--------------------------------------------------------------------------------->
    <div class="sitedetails">
      <p>Site Details</p>
      <div class="dropdown-container">
        <div class="dropdown-item">
          <label for="regionSelect"
            >Region <span class="required"> *</span></label
          >
          <select
            id="regionSelect"
            name="region"
            (change)="regionchange($event)"
          >
            <option value="">Select a Region</option>
            <option value="APAC">APAC</option>
            <option value="EMEA">EMEA</option>
            <option value="AMERICA">AMERICA</option>
            <!-- Add more regions as needed -->
          </select>
        </div>

        <div class="dropdown-item">
          <label for="countrySelect"
            >Country<span class="required"> *</span></label
          >
          <select
            id="countrySelect"
            name="country"
            (change)="countrychange($event)"
          >
            <option value="">Select Country</option>
            <!-- Options will be dynamically populated based on selection -->
          </select>
        </div>

        <div class="dropdown-item">
          <label for="locationselect"
            >Location <span class="required"> *</span></label
          >
          <select
            id="locationselect"
            name="location"
            (change)="locationchangeha($event)"
          >
            <option value="">Select Location</option>
            <!-- Options will be dynamically populated based on selection -->
          </select>
        </div>

      </div>
    </div>


<!-------------------------------------------Site Details--------------------------------------------------------------------------------->
    <div class="entity/GB">
      <p>Entity and GB</p>
      <div class="dropdown-container">
        <div class="dropdown-item">
          <label for="entityselect"
            >Entity <span class="required"> *</span></label
          >
          <select  id="entitySelect" name="entity" (change)="entityChange($event)">
          <option value="">Select Entity</option>
            <option value="BGSW">BGSW</option>
            <option value="BGSV">BGSV</option>
            <option value="RBIN">RBIN</option>
        </select>
        </div>

        <div class="dropdown-item">
          <label for="GBselect"
            >GB <span class="required"> *</span></label
          >
          <select id="GBSelect" name="GB" (change)="GBChange($event)">
          <option value="">Select GB</option>
          <option value="PS">PS</option>
          <option value="PG">PG</option>
          <option value="VM">VM</option>
          <option value="2WP">2WP</option>
          <option value="TE">TE</option>
          <option value="CS">CS</option>
          <option value="BEG">BEG</option>
          <option value="EHM">EHM</option>
          <option value="SDS">SDS</option>
          <option value="ESU">ESU</option>
          <option value="EM">EM</option>
          <option value="ES">ES</option>

        </select>
      </div>
      </div>
    </div>


    <!-------------------------------------------Site Details--------------------------------------------------------------------------------->

    <div class="ITL">
      <p>ITL's</p>
      <div class="dropdown-container">
      <div class="dropdown-item">
        <label for="local-ITL"
          >Local-ITL <span class="required"> *</span></label
        >
        <input type="text" id="local-ITL" name="local-ITL" [(ngModel)]="localITL" placeholder="NTID" required minlength="7" #localITLProxyInput="ngModel" />
        <div *ngIf="localITLProxyInput.invalid && (localITLProxyInput.dirty || localITLProxyInput.touched)">
          <div *ngIf="localITLProxyInput.errors?.['required']">
            Local-ITL Proxy is required.
          </div>
          <div *ngIf="localITLProxyInput.errors?.['minlength']">
            Local-ITL Proxy must be at least 7 characters long.
          </div>
        </div>
      </div>

      <div class="dropdown-item">
        <label for="local-ITL Proxy"
          >Local-ITL Proxy <span class="required"> *</span></label
        >
        <input type="text" id="localITLproxy" [(ngModel)]="localITLproxy" placeholder="NTID" />
      </div>
    </div>
    </div>


    <!-------------------------------------------Site Details--------------------------------------------------------------------------------->


    <div class="DH-KAM">
      <p>DH & KAM</p>
      <div class="dropdown-container">
      <div class="dropdown-item">
        <label for="DH"
          >Department Head (DH) <span class="required"> *</span></label
        >
        <input type="text" id="DH" name="DH"  placeholder="NTID" />
      </div>

      <div class="dropdown-item">
        <label for="KAM"
          >Key Account Manager (KAM) <span class="required"> *</span></label
        >
        <input type="text" id="KAM" [(ngModel)]="KAM" placeholder="NTID" />
      </div>
    </div>
    </div>
    <!-------------------------------------------Location Details--------------------------------------------------------------------------------->
    <div class="locationdetails">
      <p>Location Details</p>
      <div class="dropdown-container">
        <div class="dropdown-item">
          <label for="deptselect"
            >Department <span class="required"> *</span></label
          >
          <input type="text" id="fieldfill" placeholder="Department" />
        </div>

        <div class="dropdown-item">
          <label for="building">Building<span class="required"> *</span></label>
          <select id="buildingSelect" name="buildingSelect" >
            <option value="">Select Building</option>
          </select>
        </div>

        <div class="dropdown-item">
          <label for="floorselect"
            >Floor <span class="required"> *</span></label
          >
          <input type="text" id="fieldfill" placeholder="Floor" />
        </div>


        <div class="dropdown-item">
          <label for="labselect"
            >Lab No. <span class="required"> *</span></label
          >
          <input type="text" id="fieldfill" placeholder="Lab No." />
        </div>
      </div>



      <div class="labcoordinatordetails">
        <p>Lab Coordinator</p>
        <div class="dropdown-container">
        <div class="dropdown-item">
          <label for="primary"
            >Primary Lab Coordinator <span class="required"> *</span></label
          >
          <input type="text" id="fieldfill" placeholder="NTID" />
        </div>

        <div class="dropdown-item">
          <label for="secondary"
            >Secondary Lab Coordinator </label
          >
          <input type="text" id="fieldfill" placeholder="NTID" />
        </div>

        <div class="dropdown-item">
          <label for="CC"
            >Cost Center<span class="required"> *</span> </label
          >
          <input type="text" id="fieldfill" placeholder="Cost Center" />
        </div>
      </div>
      </div>


    </div>
    <mat-card>
      <mat-card-content>
        <p class="ACL-p">ACL Implemented<span class="required"> *</span></p>
        <section class="ACL-container">
          <mat-radio-group [(ngModel)]="labelPosition">
            <mat-radio-button class="ACL-margin" value="ACL-yes">Yes</mat-radio-button>
            <mat-radio-button class="ACL-margin" value="ACL-no">No</mat-radio-button>
          </mat-radio-group>
        </section>
        </mat-card-content>
        </mat-card>

        <div class="form-button-container">
          <button
            mat-button
            class="form-button-res"
            (click)="onReset()"

          >
            Reset
          </button>

          <button
            mat-button
            class="form-button-sub"
            (click)="onSubmit()"
          >
            Submit
          </button>
        </div>


  </mat-tab>
</mat-tab-group>
