.page-heading {
  font-size: 28px;
  font-weight: 600;
  border-bottom: 2px solid #9dc9ff;
  width: 40%;
}

.note-choosemethod {
  font-size: 16px;
  padding-top: 4px;
  color: #004975;
  font-weight: 600;
  margin: 4px;
}

p.choosemethod {
  color: #2a0845;
  font-size: 20px;
  margin: 4px;
}

.importfile {
  gap: 20px;
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  margin: 0 10%;
  margin-bottom: 20px;
  margin-left: 15px;
  margin-top: 10px;
  width: 95%;
}

.mat-mdc-card-content {
  display: contents;
  padding: 0px;
  border-radius: 0%;
}

.mat-mdc-card {
  display: block;
  border: 0px;
  border-radius: 0%;
  box-shadow: none;
  margin-top: 16px;
}

p {
  font-size: 18px;
  padding-top: 4px;
  color: #007bc0;
  font-weight: 600;
}

.methodheading p {
  color: #000000;
  font-size: 28px;
  font-weight: bold;
  padding: 4px;
  text-align: left;
  box-sizing: border-box;
  border-radius: 4px;
  border-bottom: 4px solid #9dc9ff;
  margin: 12px;
  /* Add a bottom border */
  //width: 96%;
}

.file-name {
  margin-left: 10px;
  /* Add some space between the button and file name */
  font-weight: bold;
  /* Make the file name bold */
}

.table-container {
  max-width: 100%;
  height: 600px;
  /* Ensures the container does not exceed the viewport width */
  overflow-x: auto;
  /* Adds horizontal scrolling if needed */
  margin-top: 20px;
  /* Adjust spacing if necessary */
}

.excel-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
  /* Optional: Adjust spacing */
}

.excel-table th {
  border: 2px solid darkgray;
  /* Set border color for header */
  padding: 10px;
  /* Add some padding */
  text-align: left;
  /* Align text to the left */
  background-color: #f2f2f2;
  /* Optional: light background for headers */
}

.excel-table td {
  border: 2px solid darkgray;
  /* Set border color for cells */
  padding: 10px;
  /* Add some padding */
  text-align: left;
  /* Align text to the left */
}

.error {
  background-color: red;
  /* Highlight cells with errors */
  color: white;
  /* Optional for better contrast */
}

.uploadbutton {
  display: flex;
  /* Use flexbox for alignment */
  align-items: center;
  /* Center items vertically */
  margin: 20px 0;
  /* Margin for spacing */
}

.importbutton {
  margin-top: 12px;
  display: grid;
}


input[type="text"] {
  width: 60%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
}

.subbutton {
  background-color: #37A264;
  /* darkgreen background color */
  color: #fff;
  /* White text color */
  padding: 10px 25px;
  border: #2e72ee;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 24px;
}

.subbutton:hover {
  background-color: #219557;
  /* green on hover */
}

.sub {
  display: flex;
  justify-content: center;
}

.previewbutton {
  background-color: #C535BC;
  /* darkgreen background color */
  color: #fff;
  /* White text color */
  padding: 10px 25px;
  border: #2e72ee;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.previewbutton:hover {
  background-color: #9E2896;
}

.previewbutton:disabled {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.templatebutton {
  background-color: #56B0FF;
  color: #fff;
  padding: 10px 25px;
  border: #2e72ee;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 1rem;
  margin-top: 1rem;
  font-size: 16px;
}

.choosebutton {
  background-color: #43464a;
  color: #fff;
  padding: 10px 25px;
  border: #2e72ee;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 16px;

}

.choosebutton:hover {
  background-color: #2e3033;

}

.templatebutton:hover {
  background-color: rgb(29, 112, 236);
}

.filter-container {
  display: flex;
  align-items: center;
}

.filter-container select,
.filter-container input {
  margin-right: 10px;
  width: 50%;
}

.button2 {
  margin-right: 20px;
}

.previewtextheading h4 {
  margin-top: 30px;
  justify-content: left;
  display: flex;
  color: rgb(252, 251, 249);
  padding: 10px;
  border-radius: 8px;
  color: black;
  border-bottom: 4px solid #18837E;
}


select {
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  box-sizing: border-box;
  border-color: #e0e2e5;
  font-size: 14px;
  background: #ffffff;
  transition: background 0.3s;
}

.selected {
  background: #f0f0f0;
}

option {
  width: 100%;
  padding: 1em;
  border-radius: 0.5em;
  box-sizing: border-box;
  border-color: #e0e2e5;
  font-size: 16px;
  background: #ffffff;
}

select:hover {
  border-color: #54b5ff;
  background: #e8f1ff;
}

.container-row {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.container {
  flex: 1;
  background-color: #eff1f2;
  padding: 0.5rem;
  border-radius: 8px;
  margin-bottom: 8px;
  border-color: #337ab7;
  box-sizing: border-box;
  border: solid 2px #337ab7;
  margin-bottom: 16px;
}

.container-heading {
  color: #fff;
  background-color: #337ab7;
  padding: 12px 18px;
  border-radius: 8px;
  font-size: 18px;
}

strong {
  font-weight: 500;
}

.userinput-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  //background: white;
  //box-shadow: 0 0 15px 1px rgba(105, 142, 159, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  //margin: 0 10%;
  //margin-bottom: 20px;
  // margin-left: 6px;
  // margin-top: 10px;
}

.userinput-item {
  flex: 1;
  margin-right: 10px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
}


.required {
  color: red;
}

.userinput-item input[type="text"] {
  /* Style for the input field */
  width: 100%;
  /* Adjust width as needed */
  border-radius: 4px;
  /* Rounded corners */
  box-sizing: border-box;
  /* Ensure padding and border are included in width */
  color: #000000;
  padding: 1em;
  border-radius: 0.5em;
  border-color: #e0e2e5;
  /* Ensures padding is included in width */
  font-size: 16px;
  background: #ffffff;
  transition: background 0.3s;
}

.userinput-item input[type="text"]:focus {
  /* Style when input field is focused */
  outline: none;
  /* Remove default outline */
  border-color: #4d90fe;
  /* Example: Change border color on focus */
  box-shadow: 0 0 5px rgba(77, 144, 254, 0.5);
  /* Add a box shadow */
}

.userinput-item input:disabled {
  background-color: #f2f2f2;
  /* Light gray background */
  color: #999;
  /* Light gray text color */
  cursor: not-allowed;
  /* Show a "not-allowed" cursor */
  border: 1px solid #ccc;
  /* Light gray border */
  padding: 1em;
  /* Padding to maintain consistency */
}

.labsizelwh {
  margin-top: 3px;
}

.choosemethod-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  //background: white;
  border: 0 none;
  border-radius: 0px;
  //box-shadow: 0 0 15px 1px rgba(105, 142, 159, 0.4);
  padding: 8px 20px;
  box-sizing: border-box;
  width: 90%;
  margin: 0 10%;
  margin-bottom: 20px;
  margin-left: 6px;
  margin-top: 10px;

}

.choosemethod-container.radiotext {
  font-size: 24px;
}

.radiocontainer {

  display: block;
  justify-content: space-between;
  gap: 20px;
  background: white;
  border: 0 none;
  border-radius: 0px;
  box-shadow: 0 0 15px 1px rgba(105, 142, 159, 0.4);
  padding: 10px 20px;
  box-sizing: border-box;
  width: 96%;
  //margin: 0 10%;
  margin-bottom: 20px;
  margin-left: 6px;
  margin-top: 10px;
}

.date-picker-container {
  margin-bottom: 8px;
  /* Optional: Add spacing below date picker */
}

.form-button-container {
  display: flex;
  justify-content: center;
}

.form-button-sub {
  background-color: #22bf49;
  /* darkgreen background color */
  color: #fff !important;
  /* White text color */
  padding: 10px 25px;
  border: #2e72ee;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  border-radius: 8px;
  // margin-top: 20px;
  // margin-left: 20px
  margin: 1rem;
}

.form-button-res {
  background-color: #0daeff;
  /* darkgreen background color */
  color: #fff !important;
  /* White text color */
  padding: 10px 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  border-radius: 8px;
  margin: 1rem;
}

.portdetails {
  margin-bottom: 16px;
  margin-top: 16px;
}

.radioflex {
  display: flex;
  gap: 40px;

}

.radio-explain {
  color: #000000;
  font-size: small;
}


.other-heading {
  color: #6a6868;
  font-size: 28px;
  margin-bottom: 5px;
  cursor: pointer;
  margin-top: 12px;
}

.arrow {
  font-size: 28px;
  /* Adjust size as needed */
  margin-left: 5px;
  /* Add spacing between "Other" and arrow */
  transition: transform 0.3s ease;
  /* Smooth transition for rotation */
}



@keyframes rotate180 {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(180deg);
  }
}

.expanded {
  animation: rotate180 0.3s forwards;
  /* Play the animation forwards */
}

.collapsed {
  animation: rotate180 0.3s reverse;
  /* Reverse the animation */
}

.other-section {
  margin-top: 10px;
  padding: 10px;
  //border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  /* Adjust color and thickness as needed */
  margin-top: 12px;
  margin-bottom: 12px;

}

/* your-style.css */
.suggestions-list {
  list-style-type: none;
  padding: 0;
  margin: 5px 0 0 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  max-height: 200px;
  overflow-y: auto;
  background: white;
  position: absolute;
  z-index: 1000;
  font-weight: bold;
}

.suggestions-list li {
  padding: 10px;
  cursor: pointer;
}

.suggestions-list li:hover {
  background-color: #f0f0f0;
}
