<h2>New Lab Commission</h2>
<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="left">
  <mat-tab label="Import File">
    <div class="importfile">
      <div class="importbutton">
        <a>
          Choose File to upload:
          <input type="file" (change)="onFileChanged($event)" />
        </a>
      </div>
      <div class="buttons">
        <div class="buttons2">
          <button
            class="previewbutton"
            [disabled]="!fileSelected"
            (click)="onPreview()"
          >
            Preview
          </button>
        </div>

        <div class="buttons2">
          <button class="templatebutton" (click)="onDownloadTemplate()">
            Download template
          </button>
        </div>
      </div>
    </div>

    <!------------------------------------------------------------------------------------------------------------------------------------>

    <div *ngIf="previewVisible">
      <div class="previewtextheading">
        <h4>Preview of Excel Data</h4>
      </div>
      <a class="sub">
        <button
          mat-button
          class="subbutton"
          [disabled]="!fileSelected"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </a>
      <table class="excel-table">
        <thead>
          <tr>
            <th *ngFor="let header of excelData[0]">{{ header }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of excelData.slice(1)">
            <td *ngFor="let cell of row">{{ cell }}</td>
          </tr>
        </tbody>
      </table>
      <a class="sub">
        <button
          mat-button
          class="subbutton"
          [disabled]="!fileSelected"
          (click)="onSubmit()"
        >
          Submit
        </button>
      </a>
    </div>
  </mat-tab>
  <!---------------------------------------------------------------------------------------------------------------------------------->
  <mat-tab label="Fill Form">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <form id="msform">
          <fieldset>
            <h2 style="color: rgb(87, 87, 81)">
              LAB DETAILS
              <br />
            </h2>
            <table>
              <tr>
                <td>Region</td>
                <td>
                  <select name="regionSelect" id="regionSelect">
                    <option value="">Select a Region</option>
                    <option value="APAC">APAC</option>
                    <option value="EMEA">EMEA</option>
                    <option value="AMERICA">AMERICA</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Country</td>
                <td>
                  <select name="countrySelect" id="countrySelect">
                    <option value="">Select a country</option>
                    <option value="IN">India</option>
                    <option value="DE">Germany</option>
                    <option value="VN">Vietnam</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Location</td>
                <td>
                  <select name="location" id="locationSelect">
                    <option value="">Select Location</option>
                    <option value="Ban">Bangalore</option>
                    <option value="Cob">Coimbatore</option>
                    <option value="Pun">Pune</option>
                    <option value="Hyd">Hyderabad</option>
                  </select>
                </td>
                <td>Code</td>
                <td>
                  <select name="locationcode" id="locationcodeSelect">
                    <option value="">Select Location code</option>
                    <option value="Ban">RBIN</option>
                    <option value="Bani">ADUGODI</option>
                    <option value="Cob">COB-SEZ1</option>
                    <option value="Cob">COB-SEZ2</option>
                    <option value="Pun">Pune</option>
                    <option value="Hyd">Hyderabad</option>
                  </select>
                </td>
              </tr>
              <tr>
                <td>Department</td>
                <td>
                  <input type="text" name="lab_name" placeholder="Department" />
                </td>
              </tr>
              <tr>
                <td>Building</td>
                <td>
                  <input type="text" name="lab_name" placeholder="Building" />
                </td>
              </tr>
              <tr>
                <td>Room No.</td>
                <td>
                  <input type="text" name="lab_name" placeholder="Room No." />
                </td>
              </tr>
              <tr>
                <td>
                  Name of Lab Coordinator <span class="required"> *</span>
                </td>
                <td>
                  <input
                    type="text"
                    name="lab_name"
                    placeholder="Name of Lab Coordinator"
                  />
                </td>
              </tr>
              <tr>
                <td>Name Of DH <span class="required"> *</span></td>
                <td>
                  <input type="text" name="lab_name" placeholder="Name of DH" />
                </td>
              </tr>
              <tr>
                <td>Name Of KAM <span class="required"> *</span></td>
                <td>
                  <input
                    type="text"
                    name="lab_name"
                    placeholder="Name of KAM"
                  />
                </td>
              </tr>
            </table>

            <input
              type="button"
              name="button"
              class="action-button"
              value="Submit"
            />
            <input
              type="button"
              name="button1"
              class="action-button"
              value="Reset"
            />
          </fieldset>
        </form>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>
