<div class="page-heading">
  <a>New Lab Commission</a>
</div>
<mat-tab-group mat-stretch-tabs="true" mat-align-tabs="center">
  <mat-tab label="Import File/Form Fill">
    <mat-card>
      <mat-card-content>
        <p class="choosemethod">Choose Option<span class="required">*</span></p>
        <p class="note-choosemethod">
          For multiple lab commissions, "Import File" method is recommended.
        </p>
        <section class="choosemethod-container">
          <mat-radio-group [(ngModel)]="choosemethod">
            <mat-radio-button class="radiotext methodtext" value="method-formfill">
              Application Form
            </mat-radio-button>
            <mat-radio-button class="radiotext methodtext" value="method-importfile">
              Import File
            </mat-radio-button>
          </mat-radio-group>
        </section>
      </mat-card-content>
    </mat-card>

    <div *ngIf="choosemethod === 'method-importfile'">
      <div class="methodheading">
        <p>Import File</p>
      </div>
      <div class="importfile">
        <div class="uploadbutton">
          <label>
            Choose File to upload:
            <input type="file" (change)="onFileChanged($event)" placeholder="Choose file" hidden />
            <span class="choosebutton">Choose File</span>
          </label>
          <!-- <span *ngIf="selectedFileName" class="file-name">{{
            selectedFileName
            }}</span> -->

          <div class="importbutton">
            <button class="templatebutton" (click)="onDownloadTemplate()">
              <mat-icon svgIcon="download-file"></mat-icon>Download Template
            </button>
            <button class="previewbutton" title="Please choose file for upload" [disabled]="!fileSelected"
              (click)="onPreview()">
              <mat-icon svgIcon="preview"></mat-icon>Preview
            </button>
          </div>
        </div>
      </div>
      <div *ngIf="previewVisible">
        <div class="previewtextheading">
          <h4>Preview of Excel Data</h4>
          <p>Filter By <i class="fas fa-filter"></i></p>
          <div class="filter-container">
            <select [(ngModel)]="selectedHeader">
              <option value="" disabled selected>Select a header</option>
              <option *ngFor="let header of excelData" [value]="header.header">
                {{ header.header }}
              </option>
            </select>

            <input type="text" [(ngModel)]="filterValue" (input)="onFilterChange(selectedHeader, filterValue)"
              placeholder="Filter by value" />
          </div>
        </div>

        <div class="table-container">
          <table class="excel-table">
            <thead>
              <tr>
                <th *ngFor="let header of excelData" [ngClass]="{ missing: header.isMissing }">
                  {{ header.header }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of filteredData[0]?.rows">
                <td *ngFor="let header of excelData" [ngClass]="{
                    missing: header.isMissing && !row[header.header],
                    error: row[header.header + '_error']
                  }">
                  {{ row[header.header] }}
                </td>
              </tr>
              <tr *ngIf="filteredData[0]?.rows.length === 0">
                <td [attr.colspan]="excelData.length">
                  No matching data found.
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="sub">
          <button class="subbutton" [disabled]="!selectedFile" (click)="onFileSubmit()">
            Submit
          </button>
        </div>
      </div>
    </div>


    <!------------------------------------------------------------------------------------------------------------------------------------>

    <div class="portdetails" *ngIf="choosemethod === 'method-formfill'">
      <div class="methodheading">
        <p>Application Form</p>
      </div>

      <div class="container-row">
        <div class="container">
          <div class="container-heading">
            <strong>Site Details</strong>
          </div>
          <div class="userinput-container">
            <div class="userinput-item">
              <label for="regionSelect">Region <span class="required"> *</span></label>
              <select id="region" [(ngModel)]="selectedRegion" (change)="onRegionChange()">
                <option value>Select Region</option>
                <option *ngFor="let region of uniqueRegions">
                  {{ region.region }}
                </option>
              </select>
            </div>

            <div class="userinput-item">
              <label for="countrySelect">Country<span class="required"> *</span></label>
              <select id="countries" [(ngModel)]="selectedCountry" (change)="onCountryChange()"
                [disabled]="!selectedRegion">
                <option value disabled selected>Select Country</option>
                <option *ngFor="let country of filteredCountries" [value]="country">
                  {{ country }}
                </option>
              </select>
            </div>

            <div class="userinput-item">
              <label for="code">Location-Code<span class="required"> *</span></label>
              <select id="locationSelect" [(ngModel)]="selectedCode" [disabled]="!selectedCountry">
                <option value disableed selected>Select Location Code</option>
                <option *ngFor="let code of filteredLocationCode" [value]="code">
                  {{ code }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <!----------------------------------------------------------Site Details------------------------------------------------------------------------------------------------------------->
        <div class="container">
          <div class="container-heading">
            <strong>Entity and GB</strong>
          </div>
          <div class="userinput-container">
            <div class="userinput-item">
              <label for="entityselect">Entity <span class="required"> *</span></label>
              <select id="entitySelect" name="entity" [(ngModel)]="selectedEntity" (change)="entityChange($event)">
                <option value>Select Entity</option>
                <option *ngFor="let entityName of entityOptions" [value]="entityName">{{ entityName}}</option>

              </select>
            </div>
            <div class="userinput-item">
              <label for="GBselect">GB / Contacting Area <span class="required"> *</span></label>
              <select id="GBSelect" name="GB" [(ngModel)]="selectedGB">
                <option value>Select GB</option>
                <option *ngFor="let gbName of gbOptions" [value]="gbName">{{ gbName }}</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="container-row">
        <!-------------------------------------------ITL Details--------------------------------------------------------------------------------->
        <div class="container">
          <div class="container-heading">
            <strong>ITL's</strong>
          </div>
          <div class="userinput-container">
            <div class="userinput-item">
              <label for="local-ITL">Local-ITL <span class="required"> *</span></label>
              <input type="text" id="local-ITL" name="local-ITL" [(ngModel)]="localITL" placeholder="NTID" required
                minlength="7" #localITLInput="ngModel" />
              <div *ngIf="
              localITLInput.invalid &&
              (localITLInput.dirty || localITLInput.touched)
            ">
                <div *ngIf="localITLInput.errors?.['required']" style="color: red">
                  Local-ITL is required.
                </div>
                <div *ngIf="localITLInput.errors?.['minlength']">
                  Local-ITL NTID must be at least 7 characters long.
                </div>
              </div>
            </div>

            <div class="userinput-item">
              <label for="localITLproxy">Local-ITL Proxy <span class="required"> *</span></label>
              <input type="text" id="localITLproxy" name="localITLproxy" [(ngModel)]="localITLproxy" placeholder="NTID"
                required #localITLProxyInput="ngModel" />
              <div *ngIf="
              localITLProxyInput.invalid &&
              (localITLProxyInput.dirty || localITLProxyInput.touched)
            ">
                <div *ngIf="localITLProxyInput.errors?.['required']" style="color: red">
                  Local-ITL Proxy is required.
                </div>
                <div *ngIf="localITLProxyInput.errors?.['minlength']">
                  Local-ITL Proxy NTID must be at least 7 characters long.
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-------------------------------------------Coordinator Details--------------------------------------------------------------------------------->
        <div class="container">
          <div class="container-heading">
            <strong>Lab Coordinators</strong>
          </div>
          <div class="userinput-container">
            <div class="userinput-item">
              <label for="primary">Primary Lab Coord. <span class="required"> *</span></label>
              <input type="text" placeholder="NTID" pattern="[A-Za-z0-9]*" #primaryLabCoord="ngModel"
                [disabled]="!isBGSWOrBGSV()" title="Select BGSW or BGSV entity to enable this field"
                [(ngModel)]="primarylabco" />
              <div *ngIf="
              primaryLabCoord.invalid &&
              (primaryLabCoord.dirty || primaryLabCoord.touched)
            ">
                <div *ngIf="primaryLabCoord.errors?.['required']" style="color: red">
                  Primary Lab Coordinator is required.
                </div>
              </div>
            </div>
            <div class="userinput-item">
              <label for="secondary">Secondary Lab Coord. </label>
              <input type="text" placeholder="NTID" [disabled]="!isBGSWOrBGSV()" #secondLabCoord="ngModel"
                title="Select BGSW or BGSV entity to enable this field" [(ngModel)]="secondarylabco" />
            </div>

            <div class="userinput-item">
              <label for="CC">Cost Center<span class="required"> *</span> </label>
              <input type="text" placeholder="Cost Center" [(ngModel)]="CC" />
            </div>
          </div>
        </div>
      </div>

      <!-------------------------------------------Location Details--------------------------------------------------------------------------------->
      <div class="container">
        <div class="container-heading">
          <strong>Location Details</strong>
        </div>
        <div class="userinput-container">
          <div class="userinput-item">
            <label for="deptselect">Department <span class="required"> *</span></label>
            <input type="text" required placeholder="Department" [(ngModel)]="Dept"
              title="ex.MS/EVO-ETAS-VOS, MS/EMR-PS" #locationdept="ngModel" />
            <div *ngIf="
              locationdept.invalid &&
              showValidationMessage &&
              (locationdept.dirty || locationdept.touched)
            ">
              <div *ngIf="locationdept.errors?.['required']" style="color: red">
                Department is required.
              </div>
            </div>
            <!-- <ul *ngIf="filteredDepartmentSuggestions.length > 0" class="suggestions-list">
            <li *ngFor="let dep of filteredDepartmentSuggestions">{{ dep }}</li>
          </ul> -->
          </div>
          <div class="userinput-item">
            <label for="building">Building <span class="required"> *</span></label>
            <input type="text" required placeholder="Building" [(ngModel)]="Building" #locationbuilding="ngModel" />
            <div *ngIf="
              locationbuilding.invalid &&
              (locationbuilding.dirty || locationbuilding.touched)
            ">
              <div *ngIf="locationbuilding.errors?.['required']" style="color: red">
                Building is required.
              </div>
            </div>
          </div>

          <div class="userinput-item">
            <label for="floorselect">Floor <span class="required"> *</span></label>
            <input type="text" required placeholder="Floor" [(ngModel)]="Floor" #locationfloor="ngModel" />
            <div *ngIf="
              locationfloor.invalid &&
              (locationfloor.dirty || locationfloor.touched)
            ">
              <div *ngIf="locationfloor.errors?.['required']" style="color: red">
                Floor is required.
              </div>
            </div>
          </div>

          <div class="userinput-item">
            <label for="labselect">Lab No./ Lab Name <span class="required"> *</span></label>
            <input type="text" required placeholder="Lab No." [(ngModel)]="labno" #locationlabno="ngModel" />
            <div *ngIf="
              locationlabno.invalid &&
              (locationlabno.dirty || locationlabno.touched)
            ">
              <div *ngIf="locationlabno.errors?.['required']" style="color: red">
                Lab no is required.
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-------------------------------------------DH KAM Details--------------------------------------------------------------------------------->

      <div class="container">
        <div class="container-heading">
          <strong>DH & KAM Information</strong>
        </div>
        <div class="userinput-container">
          <div class="userinput-item">
            <label for="DH">
              Department Head (DH) <span class="required"> *</span>
            </label>
            <input type="text" id="DH" name="DH" [(ngModel)]="DH" placeholder="NTID" required minlength="7"
              #dhProxyInput="ngModel" />
            <div *ngIf="
              dhProxyInput.invalid &&
              (dhProxyInput.dirty || dhProxyInput.touched)
            ">
              <div *ngIf="dhProxyInput.errors?.['required']" style="color: red">
                Department Head (DH) is required.
              </div>
              <div *ngIf="dhProxyInput.errors?.['minlength']">
                Department Head (DH) must be at least 7 characters long.
              </div>
            </div>
            <!-- <ul *ngIf="filteredDHSuggestions.length > 0" class="suggestions-list">
            <li *ngFor="let dh of filteredDHSuggestions">{{ dh }}</li>
          </ul> -->
          </div>

          <div class="userinput-item">
            <label for="KAM">
              Key Account Manager (KAM) <span class="required"> *</span>
            </label>
            <input type="text" id="KAM" name="KAM" [(ngModel)]="KAM" placeholder="NTID" required minlength="7"
              #kamProxyInput="ngModel" />
            <div *ngIf="
              kamProxyInput.invalid &&
              (kamProxyInput.dirty || kamProxyInput.touched)
            ">
              <div *ngIf="kamProxyInput.errors?.['required']" style="color: red">
                Key Account Manager (KAM) is required.
              </div>
              <div *ngIf="kamProxyInput.errors?.['minlength']">
                Key Account Manager (KAM) must be at least 7 characters long.
              </div>
            </div>
            <!-- <ul *ngIf="filteredKAMSuggestions.length > 0" class="suggestions-list">
            <li *ngFor="let kam of filteredKAMSuggestions">{{ kam }}</li>
          </ul> -->
          </div>
        </div>
      </div>

      <div class="container">
        <div class="container-heading">
          <strong>Lab Work Details</strong>
        </div>
        <div class="userinput-container">
          <div class="userinput-item">
            <label for="kindoflab">Kind of Lab <span class="required"> *</span></label>
            <select id="kindoflabselect" name="kindoflab" [(ngModel)]="selectedLabType" (change)="onLabTypeChange()">
              <option value>Select</option>
              <option value="EMV">EMV</option>
              <option value="Reliability">Reliability</option>
              <option value="Devlopment">Development</option>
              <option value="Validation">Validation</option>
              <option value="Other">Other</option>
            </select>
            <div *ngIf="showOtherField">
              <label for="otherLab">Other Lab Type:</label>
              <input type="text" id="otherLab" name="otherLab" [(ngModel)]="otherLabType" placeholder="other" />
            </div>
          </div>
          <div class="userinput-item">
            <label for="purpose">Purpose of Lab in Brief<span class="required"> *</span></label>
            <input type="text" placeholder="Purpose" [(ngModel)]="purposeoflab" />
          </div>
          <div class="userinput-item">
            <label for="description">Description<span class="required"> *</span>
            </label>
            <input type="text" placeholder="Description" [(ngModel)]="description" />
          </div>
        </div>
      </div>

      <div class="radioflex">
        <mat-card>
          <mat-card-content>
            <p>
              Is lab going to procure new equipment for Engineering/Red Zone?
              <span class="required"> *</span>
            </p>
            <section class="radiocontainer">
              <mat-radio-group [(ngModel)]="cmdbradio" #cmdbradioGroup="ngModel" required>
                <mat-radio-button value="Yes">Yes</mat-radio-button>
                <mat-radio-button value="No">No</mat-radio-button>
              </mat-radio-group>
              <div *ngIf="
                  cmdbradioGroup.invalid &&
                  (cmdbradioGroup.dirty || cmdbradioGroup.touched)
                ">
                <div *ngIf="cmdbradioGroup.errors?.['required']">
                  Selection is required.
                </div>
              </div>
              <p class="radio-explain">
                If yes, as per MD-07151, all the Engineering/Red Zone devices
                should be updated in
                <a href="https://inside-docupedia.bosch.com/confluence2/display/RBITLConsulting/CMDB" target="_blank"
                  rel="noopener">SMT-CMDB</a>
              </p>
            </section>
          </mat-card-content>
        </mat-card>

        <mat-card>
          <mat-card-content>
            <p>Shared Lab<span class="required"> *</span></p>
            <section class="radiocontainer">
              <mat-radio-group [(ngModel)]="sharedlabradio">
                <mat-radio-button class="sharedlab-margin" value="Yes">Yes</mat-radio-button>
                <mat-radio-button class="sharedlab-margin" value="No">No</mat-radio-button>
                <p class="radio-explain">
                  If multiple Departments are working in same lab, please select
                  "Yes"
                </p>
              </mat-radio-group>
            </section>
          </mat-card-content>
        </mat-card>
        <mat-card>
          <mat-card-content>
            <p>Self Audit Due Date<span class="required"> *</span></p>
            <section class="radiocontainer">
              <div class="date-picker-container">
                <mat-form-field class="example-full-width">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker" [(ngModel)]="selectedDate"
                    (dateChange)="onDateSelected($event.value)" />
                  <mat-hint>MM/DD/YYYY</mat-hint>

                  <mat-datepicker-toggle matIconSuffix [for]="picker" [disabled]="isDatePickerDisabled">
                    <!-- <mat-icon matDatepickerToggleIcon>keyboard_arrow_down</mat-icon> -->
                  </mat-datepicker-toggle>

                  <mat-datepicker #picker [disabled]="isDatePickerDisabled"></mat-datepicker>
                </mat-form-field>
              </div>
              <p class="radio-explain" style="color: red">
                Due date for self check audit is 180 days from the moment lab is
                commissioned.
              </p>
            </section>
          </mat-card-content>
        </mat-card>
      </div>
      <mat-card>
        <mat-card-content>
          <p>ACL Required<span class="required"> *</span></p>
          <section class="radiocontainer">
            <mat-radio-group [(ngModel)]="ACLradio">
              <mat-radio-button value="Yes">Yes</mat-radio-button>
              <mat-radio-button value="No">No</mat-radio-button>
              <p class="radio-explain" *ngIf="ACLradio === 'Yes'">
                <strong>Note:</strong> ACL setup will take minimum 15 days. For
                setup
                <a href="https://inside-docupedia.bosch.com/confluence2/display/RBITLConsulting/1.+ACL+Concept"
                  target="_blank" rel="noopener">Click Here</a>
              </p>
            </mat-radio-group>
          </section>
        </mat-card-content>
      </mat-card>
      <div class="portdetails" *ngIf="ACLradio === 'Yes'">
        <div class="container">
          <div class="container-heading">
            <strong>Port Requirement Details</strong>
          </div>
          <div class="userinput-container">
            <div class="userinput-item">
              <label for="greenPorts">No. of Green Ports<span class="required"> *</span></label>
              <input type="text" placeholder="Green Ports" [(ngModel)]="greenports" />
            </div>
            <div class="userinput-item">
              <label for="yellowPort">No. of Yellow Ports<span class="required"> *</span></label>
              <input type="text" placeholder="Yellow Ports" [(ngModel)]="yellowports" />
            </div>
            <div class="userinput-item">
              <label for="redPorts">No. of Red Ports<span class="required"> *</span>
              </label>
              <input type="text" placeholder="Red Ports" [(ngModel)]="redports" />
            </div>
          </div>
        </div>
      </div>

      <hr />

      <div class="other-details">
        <p class="other-heading" (click)="toggleOtherSection()">
          Other Information
          <span class="arrow" [@rotateArrow]="showOtherSection ? 'expanded' : 'collapsed'">&#11167;</span>
        </p>
        <div class="other-section" *ngIf="showOtherSection">
          <p>Lab rack / tables Size</p>
          <div class="userinput-container">
            <div class="userinput-item">
              <label for="setup">Setup </label>
              <select id="setupselect" name="setupselect">
                <!-- [(ngModel)]="setupselect" -->
                <option value>Select</option>
                <option value="Vertical">Vertical</option>
                <option value="Horizontal">Horizontal</option>
              </select>
            </div>

            <div class="userinput-item">
              <label for="size">Size (in ft)</label>
              <input type="text" class="labsizelwh" placeholder="Length" />
              <input type="text" class="labsizelwh" placeholder="Width" />
              <input type="text" class="labsizelwh" placeholder="Height" />
              <!-- [(ngModel)]="sizeselect" -->
            </div>

            <div class="userinput-item">
              <label for="count">Count of racks/tables</label>
              <input type="text" placeholder="Count" />
              <!-- [(ngModel)]="countselect" -->
            </div>
          </div>

          <div class="userinput-container">
            <div class="userinput-item">
              <label for="seatingfacility">Seating Facility</label>
              <input type="text" placeholder="Seating Facility" />
              <!-- [(ngModel)]="sizeselect" -->
            </div>
            <div class="userinput-item">
              <label for="powerloadbox">Power Load box</label>
              <input type="text" placeholder="Power Load box" />
              <!-- [(ngModel)]="sizeselect" -->
            </div>
            <div class="userinput-item">
              <label for="solderingstation">Soldering station</label>
              <input type="text" placeholder="Soldering station" />
              <!-- [(ngModel)]="sizeselect" -->
            </div>
          </div>
          <p>Lab Space</p>
          <div class="userinput-container">
            <div class="userinput-item">
              <label for="totallabspace ">Total Lab space</label>
              <input type="text" placeholder="Total Lab space " />
              <!-- [(ngModel)]="sizeselect" -->
            </div>
            <div class="userinput-item">
              <label for="freelabspace">Free Lab Space</label>
              <input type="text" placeholder="Free Lab Space" />
              <!-- [(ngModel)]="sizeselect" -->
            </div>
          </div>

          <p>AC</p>
          <div class="userinput-container">
            <div class="userinput-item">
              <label for="ACinfo">PAC</label>
              <input type="text" placeholder="No. of PAC" />
              <!-- [(ngModel)]="sizeselect" -->
            </div>
            <div class="userinput-item">
              <label for="ACinfo">Office AC</label>
              <input type="text" placeholder="No. of office AC" />
              <!-- [(ngModel)]="sizeselect" -->
            </div>
          </div>

          <p>Power Supply</p>
          <div class="userinput-container">
            <div class="userinput-item">
              <label for="powersupplyinfo">Voltage(V)</label>
              <input type="text" placeholder="voltage" />
              <!-- [(ngModel)]="sizeselect" -->
            </div>
            <div class="userinput-item">
              <label for="powersupplyinfo">Plug point near the table</label>
              <input type="text" placeholder="Count" />
              <!-- [(ngModel)]="sizeselect" -->
            </div>
          </div>
        </div>
      </div>
      <div class="form-button-container">
        <button mat-button class="form-button-res" (click)="onReset()">
          <mat-icon svgIcon="reset"></mat-icon>Reset
        </button>
        <button mat-button class="form-button-sub" (click)="onPreviewform()">
          <mat-icon svgIcon="preview"></mat-icon>Preview
        </button>
      </div>
    </div>

    <app-custom-dialog [isOpen]="isDialogOpen" (close)="closeDialog()" [data]="formData">
    </app-custom-dialog>
  </mat-tab>
  <!-- <mat-tab label="My Applications" class="approve-reject">
    <div>
      <p>Submitted Form Data:</p>
      <pre>{{ submittedFormData | json }}</pre>
    </div>
  </mat-tab> -->
</mat-tab-group>