<div class="content">
  <div class="row home-image">
    <div class="col">
      <h4 class="sub-heading">IT for Engineering and Research Labs is Here</h4>
      <h2 class="main-heading">To grow your business</h2>
      <p class="description">
       Get all the lab activities from lab creation to its decommission, at one place!
      </p>

      <a mat-flat-button href="https://inside-docupedia.bosch.com/confluence2/display/RBITLConsulting" target="_blank">Watch the video</a>


    </div>
    <div class="col">
      <div class="image-container1">
        <img src="assets/images/HOME_IMG3.png" alt="Kranti">
      </div>
    </div>
  </div>
</div>
<div >
  <div class="row mid-image">
    <div class="col">
      <div class="image-container2">
        <img src="assets/images/persons.png" alt="Kranti">
      </div>

    </div>
    <div class="col mid-content">
      <h4 class="sub-heading2">Are you aware about ITL?</h4>
      <p class="description">
        Take the quiz to test your awareness about ITL
      </p>
      <a mat-flat-button href="https://forms.office.com/e/8FY8vQ7rFH" target="_blank">
       Take the quiz
      </a>
    </div>
  </div>
</div>

<div class="text">
  <h3 class="courgette-regular">We Provide you</h3>
</div>

<div class="container">
  <mat-card class="example-card">
    <img mat-card-image src="assets/images/monitoring.jpg" alt="Monitoring Image">
    <mat-card-content>
      <h5 mat-card-title>Monitoring</h5>
      <p mat-card-subtitle>Subtitle here</p>
      <p mat-card-text>
        This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      </p>
      <button mat-button>View</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="assets/images/doc.jpg" alt="Documentation Image">
    <mat-card-content>
      <h5 mat-card-title>Documentation</h5>
      <p mat-card-subtitle>Subtitle here</p>
      <p mat-card-text>
        This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      </p>
      <button mat-button>View</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="assets/images/colab.jfif" alt="Collaboration Image">
    <mat-card-content>
      <h5 mat-card-title>Collaboration</h5>
      <p mat-card-subtitle>Subtitle here</p>
      <p mat-card-text>
        This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      </p>
      <button mat-button>View</button>
    </mat-card-content>
  </mat-card>
</div>
