.image-container{
  text-align: right;

}
.example-card {
  width: 30%; // Ensures cards take full width of their container
  height: 30%; // Optional, adjust as needed

  // Adjust padding or margin as needed for spacing
  padding: 1rem;
  margin-bottom: 1rem;

  // Optional: Customize card content typography or colors
  mat-card-content {
    h2 {
      font-size: 1.5rem; // Example size, adjust as needed
      margin-bottom: 0.5rem;
    }
    p {
      font-size: 1rem; // Example size, adjust as needed
      margin-bottom: 0.5rem;
    }
    button {
      font-size: 1rem; // Example size, adjust as needed
    }
  }
}

@media (max-width: 768px) {
  .row-cols-1 {
    .col {
      width: 100%; // Ensure cards take full width on small screens
    }
  }
}

.img{
  width: 100px;
}
h1{
  color: black;
}
h2{
  font-family:'Inter', sans-serif ;
  font-weight: 800;
  font-size: large;
  text-shadow: #245ee6;
  text-align: center;
}
