<!-- Existing Content -->
<div class="content">
  <div class="row home-image">
    <div class="col">
      <h4 class="main-heading">Welcome to the Future of Lab Management!</h4>
      <h2 class="sub-heading">Streamline, Optimize, and Innovate</h2>
      <p class="description">
        Welcome to the cutting-edge solution for Engineering and Research Lab Lifecycle Management. Our platform is designed to revolutionize the way labs operate, ensuring efficiency, compliance, and streamlined processes across all stages of the lab lifecycle.
      </p>
    </div>
    <div class="col">
      <div class="image-container1">
        <img src="assets/images/HOME_IMG3.png" alt="Kranti">
      </div>
    </div>
  </div>
</div>

<!-- <div>
  <div class="row mid-image">
    <div class="col">
      <div class="image-container2">
        <img src="assets/images/persons.png" alt="Kranti">
      </div>
    </div>
    <div class="col mid-content">
      <h4 class="sub-heading2">Are you aware about ITL?</h4>
      <p class="description">
        Take the quiz to test your awareness about ITL
      </p>
      <a mat-flat-button href="https://forms.office.com/e/8FY8vQ7rFH" target="_blank">Take the quiz</a>
    </div>
  </div>
</div> -->

<!-- <div class="text">
  <h3 class="courgette-regular">We Provide you</h3>
</div>

<div class="container">
  <mat-card class="example-card">
    <img mat-card-image src="assets/images/monitoring.jpg" alt="Monitoring Image">
    <mat-card-content>
      <h5 mat-card-title>Monitoring</h5>
      <p mat-card-subtitle>Subtitle here</p>
      <p mat-card-text>
        This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      </p>
      <button mat-button>View</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="assets/images/doc.jpg" alt="Documentation Image">
    <mat-card-content>
      <h5 mat-card-title>Documentation</h5>
      <p mat-card-subtitle>Subtitle here</p>
      <p mat-card-text>
        This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      </p>
      <button mat-button>View</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="example-card">
    <img mat-card-image src="assets/images/colab.jfif" alt="Collaboration Image">
    <mat-card-content>
      <h5 mat-card-title>Collaboration</h5>
      <p mat-card-subtitle>Subtitle here</p>
      <p mat-card-text>
        This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      </p>
      <button mat-button>View</button>
    </mat-card-content>
  </mat-card>
</div> -->

<!-- <section class="header">

      <h1>Explore Our Key Features</h1>

</section> -->

<!-- Grid Section -->
<!-- <section class="grid-section">
  <div class="container">
      <div class="card">
          <div class="icon">

              <svg xmlns="http://www.w3.org/2000/svg" class="icon-img" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17.657 18.657A8 8 0 016.343 7.343S7 9 9 10c0-2 .5-5 2.986-7C14 5 16.09 5.777 17.656 7.343A7.975 7.975 0 0120 13a7.975 7.975 0 01-2.343 5.657z" />
              </svg>
          </div>
          <h2>Comprehensive Lab Inception</h2>
          <p>Seamlessly record and manage new lab details and goals.
            Import and approve new lab data effortlessly using our intuitive forms and templates.
            Efficiently migrate existing lab data without approval delays.
            </p>
          <a href="#" class="link">Learn More</a>
      </div>

      <div class="card">
          <div class="icon">

              <svg xmlns="http://www.w3.org/2000/svg" class="icon-img" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 4a2 2 0 114 0v1a1 1 0 001 1h3a1 1 0 011 1v3a1 1 0 01-1 1h-1a2 2 0 100 4h1a1 1 0 011 1v3a1 1 0 01-1 1h-3a1 1 0 01-1-1v-1a2 2 0 10-4 0v1a1 1 0 01-1 1H7a1 1 0 01-1-1v-3a1 1 0 00-1-1H4a2 2 0 110-4h1a1 1 0 001-1V7a1 1 0 011-1h3a1 1 0 001-1V4z" />
              </svg>
          </div>
          <h2>Streamlined Lab Operations</h2>
          <p>Automate annual self-audits and documentation, minimizing manual effort and follow-ups.
            Track and manage non-conformities with precision.
            Import and manage software and OS details using automated scripts.
            Optimize and reallocate lab resources and network details efficiently.</p>
          <a href="#" class="link">Learn More</a>
      </div>

      <div class="card">
          <div class="icon">

              <svg xmlns="http://www.w3.org/2000/svg" class="icon-img" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 3v4M3 5h4M6 17v4m-2-2h4m5-16l2.286 6.857L21 12l-5.714 2.143L13 21l-2.286-6.857L5 12l5.714-2.143L13 3z" />
              </svg>
          </div>
          <h2>Efficient Lab Movement and Decommission</h2>
          <p>Raise and track lab movement requests with ease.
            Manage the decommissioning process and archive lab artifacts securely.
            Reallocate decommissioned labs to new projects swiftly.
            </p>
          <a href="#" class="link">Learn More</a>
      </div>
  </div>
</section> -->

<!-- New Section -->
<section>
  <div class="row">
    <div class="feature-heading">
    <h1>Our Features</h1>
  </div>
  </div>
  <div class="row">
    <!-- Column One -->
    <div class="column">
      <div class="card">
        <div class="icon">
          <i class="fa-regular fa-flask"></i>
        </div>
        <h3>User Friendly</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          asperiores natus ad molestiae aliquid explicabo. Iste eaque quo et
          commodi.
        </p>
      </div>
    </div>
    <!-- Column Two -->
    <div class="column">
      <div class="card">
        <div class="icon">
          <i class="fa-solid fa-shield-halved"></i>
        </div>
        <h3>Super Secure</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          asperiores natus ad molestiae aliquid explicabo. Iste eaque quo et
          commodi.
        </p>
      </div>
    </div>
    <!-- Column Three -->
    <div class="column">
      <div class="card">
        <div class="icon">
          <i class="fa-solid fa-headset"></i>
        </div>
        <h3>Quick Support</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
          asperiores natus ad molestiae aliquid explicabo. Iste eaque quo et
          commodi.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="container">
  <div class="center-div">
     <h2>Why you choice Us ?</h2>
     <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
  </div>


  <div class="choices">
      <div class="left-top">
          <div class="left-top-circle">
              <img src="https://i.ibb.co/VJmZKFj/high-quality.png" alt="highquality"/>
          </div>

          <div class="left-top-text">
              <h3>High Quality Equipment</h3>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
          </div>

      </div>


      <div class="right-top">
          <div class="right-top-circle">
              <img src="https://i.ibb.co/qgKNr59/backup.png"alt="backup"/>
          </div>

          <div class="right-top-text">
              <h3>Everybody Backups</h3>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
          </div>
      </div>



      <div class="right-bottom">
          <div class="right-bottom-circle">
              <img src="https://i.ibb.co/Kbd0xbp/smart.png" alt="smart"/>
          </div>

          <div class="right-bottom-text">
              <h3>Smart intelligence Models</h3>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
          </div>
      </div>



      <div class="left-bottom">
          <div class="left-bottom-circle">
              <img src="https://i.ibb.co/G53sbGK/customer.png" alt="customer"/>
          </div>

          <div class="left-bottom-text">
              <h3>24/7 Customer Service</h3>
              <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
          </div>
      </div>
  </div>

</section>
