
<!-- Top Content -->
<div class="main-container">
  <div class="content">
    <div class="row home-image">
      <div class="col">
        <h4 class="main-heading">Welcome to the Future of Lab Management!</h4>
        <h2 class="sub-heading text-animation">
          Streamline, Optimize, and Innovate!
        </h2>
        <p class="description">
          Welcome to the cutting-edge solution for Engineering and Research Lab
          Lifecycle Management. Our platform is designed to revolutionize the
          way labs operate, ensuring efficiency, compliance, and streamlined
          processes across all stages of the lab lifecycle.
        </p>
      </div>
      <div class="col">
        <div class="image-container1">
          <img src="assets/images/HOME_IMG3.png" alt="Kranti" />
        </div>
      </div>
    </div>
  </div>

  <!-- Features Section -->
  <div class="feat bg-gray pt-5 pb-5">
    <div class="container">
      <div class="section-head col-sm-12">
        <h4><span>Explore our features</span></h4>
        <p>
          After exploring our features, you'll unlock unparalleled efficiency in
          lab operations and compliance. Dive into the future of lab management
          and discover how our solutions streamline processes, enhance security,
          and drive innovation.
        </p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="item">
            <a [routerLink]="['/lab_commission']" class="item-link">
              <span class="icon feature_box_col_lab"
                ><i class="fa fa-flask"></i
              ></span>
              <h6>Comprehensive Lab Inception</h6>
              <p>
                Import and approve new lab data effortlessly using our intuitive
                forms and templates.
              </p>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="item">
            <a routerLink="/self-check" class="item-link">
              <span class="icon feature_box_col_two"
                ><i class="fa fa-anchor"></i
              ></span>
              <h6>Streamlined Self-check</h6>
              <p>
                Automate annual self-audits and documentation, minimizing manual
                effort and follow-ups.
              </p>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="item">
            <a routerLink="/software-tracking" class="item-link">
              <span class="icon feature_box_col_monitoring"
                ><i class="fa fa-chart-line"></i
              ></span>
              <h6>Software Monitoring</h6>
              <p>Track the installed softwares in red zone PC's</p>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="item">
            <a routerLink="/lab-decommission" class="item-link">
              <span class="icon feature_box_col_four"
                ><i class="fa fa-database"></i
              ></span>
              <h6>Lab Decommission</h6>
              <p>
                Manage the decommissioning process and archive lab artifacts
                securely.
              </p>
            </a>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="item">
            <span class="icon feature_box_col_five"
              ><i class="fa fa-upload"></i
            ></span>
            <h6>Lab Movement</h6>
            <p>Raise and track lab movement requests with ease.</p>
          </div>
        </div>
        <div class="col-lg-4 col-sm-6 mb-4">
          <div class="item">
            <span class="icon feature_box_col_ip"
              ><i class="fa fa-network-wired"></i
            ></span>
            <h6>ACL IP Management</h6>
            <p>
              Manage the data of IP addresses of all the Engineering devices.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <!-- Video Section -->

    <div class="container3">
      <section class="headline-section">
        <h1 class="headline">
          Discover more about ITL by watching the video below. After watching,
          check your knowledge by proceeding to the quiz.
        </h1>
      </section>
      <div id="video-section" class="video-section" id="target-section">
        <iframe
          #videoplayer
          id="kmsembed-0_r0kh3h4j"
          class="video"
          width="400"
          height="285"
          src="https://bosch.mediaspace.de.kaltura.com/embed/secure/iframe/entryId/0_r0kh3h4j/uiConfId/23448911/st/0"
          allowfullscreen
          webkitallowfullscreen
          mozAllowFullScreen
          allow="autoplay *; fullscreen *; encrypted-media *"
          referrerPolicy="no-referrer-when-downgrade"
          sandbox="allow-downloads allow-forms allow-same-origin allow-scripts allow-top-navigation allow-pointer-lock allow-popups allow-modals allow-orientation-lock allow-popups-to-escape-sandbox allow-presentation allow-top-navigation-by-user-activation"
          frameborder="0"
          title="ITL_Awareness_2024"
        >
        </iframe>
        <p class="description">
          You'll need to watch this video before proceeding to quiz
        </p>
      </div>

      <section class="info-section">
        <p class="info-text">
          Great job on watching the video! Now that you have a better
          understanding of ITL, it’s time to test your knowledge. Click the
          button below to start the quiz and see how much you’ve learned.
        </p>
      </section>
      <section class="cta-section">
        <button class="cta-button" (click)="navigateToQuiz()">
          <mat-icon svgIcon="quiz"></mat-icon>Take the Quiz
        </button>
      </section>
    </div>
  </div>
</div>
