<div class="heading-dialogbox">
  <h2>Application Form Preview</h2>
</div>

<div mat-dialog-content class="dialog-content">
  <div class="grid-container">
    <div class="column">
      <p><strong>Region:</strong> {{ region }}</p>
      <p><strong>Country:</strong> {{ country }}</p>
      <p><strong>Location-Code:</strong> {{ locationcode }}</p>
      <p><strong>Entity:</strong> {{ entity }}</p>
      <p><strong>GB:</strong> {{ GB }}</p>
      <p><strong>Local-ITL:</strong> {{ localITL }}</p>
      <p><strong>Local-ITL Proxy:</strong> {{ localITLproxy }}</p>
      <p><strong>Department Head:</strong> {{ DH }}</p>
      <p><strong>Key Account Manager:</strong> {{ KAM }}</p>
      <p><strong>Department:</strong> {{ Dept }}</p>
      <p><strong>Building:</strong> {{ Building }}</p>
      <p><strong>Floor:</strong> {{ Floor }}</p>
      <p><strong>Lab No:</strong> {{ labno }}</p>
    </div>
    <div class="column">
      <p><strong>Primary Lab Coordinator:</strong> {{ primarylabco }}</p>
      <p><strong>Secondary Lab Coordinator:</strong> {{ secondarylabco }}</p>
      <p><strong>Cost Center:</strong> {{ CC }}</p>
      <p><strong>Kind of Lab:</strong> {{ kindoflab }}</p>
      <p><strong>Purpose of Lab:</strong> {{ purposeoflab }}</p>
      <p><strong>Description:</strong> {{ description }}</p>

      <p>
        <strong
          >Is lab going to procure new equipment for Engineering/Red
          Zone?</strong
        >
        {{ cmdbradio === "Yes" ? "YES" : "NO" }}
      </p>
      <p>
        <strong>Shared Lab:</strong>
        {{ sharedlabradio === "Yes" ? "YES" : "NO" }}
      </p>
      <p>
        <strong>ACL Required:</strong>
        {{ ACLradio === "Yes" ? "YES" : "NO" }}
      </p>
      <ng-container *ngIf="ACLradio === 'Yes'">
        <p><strong>No. of Green Ports:</strong> {{ greenports }}</p>
        <p><strong>No. of Yellow Ports:</strong> {{ yellowports }}</p>
        <p><strong>No. of Red Ports:</strong> {{ redports }}</p>
      </ng-container>
    </div>
    <div class="dialog-actions">
      <button mat-button (click)="onFormSubmit()">Submit</button>
      <button mat-button (click)="closeDialog()">Back</button>
    </div>
  </div>
</div>
