<div class="container">
  <!-- User Information Box -->
  <div class="form-box">
    <p class="field-header">User Information</p>
    <div class="input-group">
      <div class="input-item">
        <label for="name">Name<span class="required"> *</span></label>
        <input type="text" id="username" [(ngModel)]="username" placeholder="Username" required minlength="3"
          [disabled]="true" />
      </div>
      <div class="input-item">
        <label for="ntid">NT-ID<span class="required"> *</span></label>
        <input type="text" id="ntid" [(ngModel)]="ntid" placeholder="NTID" required minlength="3" [disabled]="true" />
      </div>
      <div class="input-item">
        <label for="department">Department<span class="required"> *</span></label>
        <input type="text" id="department" [(ngModel)]="department" placeholder="Department" required minlength="3"
          [disabled]="true" />
      </div>
      <div class="input-item">
        <label for="entity">Entity<span class="required"> *</span></label>
        <input type="text" id="entity" [(ngModel)]="entity" placeholder="Entity" required minlength="3"  />
      </div>
    </div>
  </div>
</div>

<!-- Location Details Box -->
<div class="container">
  <div class="form-box">
    <p class="field-header">Lab location Details</p>
    <div class="input-group">
      <!-- Iterate through labs -->
      <div *ngFor="let lab of labDetails; let i = index" class="lab-details">
        <div class="input-item">
          <label for="location{{i}}">Location<span class="required"> *</span></label>
          <input type="text" [(ngModel)]="lab.location" name="location{{i}}" placeholder="Location" required minlength="3" />
        </div>
        <div class="input-item">
          <label for="building{{i}}">Building<span class="required"> *</span></label>
          <input type="text" [(ngModel)]="lab.building" name="building{{i}}" placeholder="Building" required minlength="3" />
        </div>
        <div class="input-item">
          <label for="lab_no{{i}}">Lab No<span class="required"> *</span></label>
          <input type="text" [(ngModel)]="lab.lab_no" name="lab_no{{i}}" placeholder="Lab No" required minlength="3" />
        </div>
        <!-- Cancel Button to Remove the Lab Row -->
        <button type="button" (click)="removeLab(i)" class="remove-btn">-</button>
      </div>
    </div>
    <!-- Add More Lab Button -->
    <button type="button" class="add-btn" (click)="addLab()">+ Add labs</button>
  </div>
</div>

<!-- Role Details Box -->
<div class="container">
  <div class="form-box">
    <p class="field-header">Role Details</p>
    <div class="input-group">
      <div class="input-item">
        <label for="role">Role<span class="required"> *</span></label>
        <select id="role" name="role" required [(ngModel)]="role">
          <option value="">Select a Role</option>
          <option value="primary_lab_cord">Primary Lab Coordinator</option>
          <option value="secondary_lab_cord">Secondary Lab Coordinator</option>
          <option value="local_itl">Local ITL</option>
          <option value="local_itl_proxy">Local ITL Proxy</option>
        </select>
      </div>
    </div>
  </div>
</div>

<!-- Submit Button -->
<button class="success_btn" (click)="submitForm()">Submit</button>
