.custom-toolbar {
  mat-toolbar {
    background-color: #daeaf2;
    color: #333;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 16px;

  }
}

mat-sidenav{
  background-color: #0f1720;
  width: 270px;
  height: 100%;
}

mat-sidenav-content{
  height: 100vh;

  .main{
    margin-left: 30px;
  }

}
mat-toolbar{
  mat-icon{
    margin-left: 15px;
    color: gray;

  }
  justify-content: space-between;
  .box{
    margin-top: 15px;


  }
}
.top{
  margin-top: 15px;
  padding: 8px;
  margin-left: 160px;
  font-size: 30px;
}
.homeimage{
  align-content: center;
}






