@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

input[type=text] {
  width: 300px;
  padding: 10px 15px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid #f7f0f0;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1.2px solid rgb(107, 124, 194);
}

svg {
  width: 20px;
  height: 15px;
}

h2 {
  background-color: #337ab7;
  padding: 14px;
  color: white;
  font-size: 30px;
  border-radius: 8px;
  width: 95%;
  margin: 12px 0px;
}

.lab-detail {
  color: rgb(80, 79, 79);
}

button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 10px;
  z-index: 1;

  box-shadow: 0 8px 8px rgba(4, 4, 4, 0.2);
  /* Add shadow */
  transition: background-color 0.3s ease, transform 0.3s ease;
  font-weight: bold;

  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #6fb75d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #49a138;
    /* Darken background on hover */
    transform: translateY(-2px);
    /* Slightly move the button up on hover */

  }

  &:active {
    background-color: #24c034;
    /* Even darker background when clicked */
    transform: translateY(1px);
    /* Move button slightly down when clicked */
  }

}

.container {
  display: flex;
  gap: 10px;
}

form.search_btn input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid rgb(211, 210, 210);
  width: 50%;
  background: white;
}

form.search_btn button {
  width: 5%;
  padding: 10px;
  background: #3298f1;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-left: 10px;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}

.lab_btn {
  background-color: #3d8bda;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  //margin-bottom: 80px;
  box-shadow: 0 8px 8px rgba(4, 4, 4, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 16px;
}

.lab_btn:hover {
  background-color: #467cae;
  transform: translateY(-2px);
}

.lab_btn:active {
  background-color: #273081;
  transform: translateY(1px);
}

.audit_btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  //margin-bottom: 80px;
  box-shadow: 0 8px 8px rgba(4, 4, 4, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-right: 16px;
}

.audit_btn:hover {
  background-color: #6fb75d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #49a138;
  /* Darken background on hover */
  transform: translateY(-2px);
}

.search {
  border-radius: 8px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.column {
  padding: 10px;
}

.column p {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 1.2;
}

.column strong {
  color: #005587;
  font-weight: bold;
  font-size: 16px;
}

.column p:last-child {
  margin-bottom: 0;
}

.container_design {
  border: 1px solid #337ab7;
  border-radius: 10px;
  margin-bottom: 4px;
  width: 100%;
}

.lab-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}