<h2 >Self Audit Form :</h2>
<i><b><p style="color:red"> (Select Lab for Audit)</p></b></i>
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<form class="search_btn" action="action_page.php">
  <input type="text" [(ngModel)]="searchQuery" placeholder="Search Lab ..." name="search"
  style="margin:auto;max-width:300px" >
<button class="search" (click)="onSearch()"><i class="fa fa-search"></i></button></form>
<p></p>
      <div class="lab-list">
        <div *ngFor="let lab of labList | filter : searchQuery" class="lab-item">
           <!-- Collapsible Section Header -->
          <div class="collapsible-header">
              <mat-card class="custom-card">
              
                <mat-card-content>
                 <p style="color: grey;" >  Lab No -> Entity -> GB ->  Department </p> 
                  
             <b> {{ lab["Lab No"] }} ->
              
               {{ lab.Entity }}  ->  {{ lab.GB }}  ->  {{ lab.Department }}  </b>   
                
               <div class="container">
                <button 
                (click)="toggleDetails(lab._id)"
                class="lab_btn"
               >
             Lab Details
                 </button>
  <button (click)="openForm(lab.Entity)">Self-Audit</button>
            </div> 
            </mat-card-content>
            </mat-card>
            </div>    
      <div *ngIf="isExpanded(lab._id)" class="collapsible-content">
        <p></p>
      
        <mat-card class="custom-card1">
          <mat-card-content>
            <table class="lab_details_table">
              <thead>
              <tr>
                <th style="background-color:rgb(212, 244, 252)">Region</th>
                <th style="background-color:rgb(212, 244, 252)">Country</th>
                <th style="background-color:rgb(212, 244, 252)">Location</th>
                <th style="background-color:rgb(212, 244, 252)">Location-Code</th>
                <th style="background-color:rgb(212, 244, 252)">Entity</th>
                <th style="background-color:rgb(212, 244, 252)">GB</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ lab.Region }} </td>
                  <td>{{ lab.Country }}</td>
                  <td>{{ lab.Location }}</td>
                  <td>{{ lab["Location-Code"] }}</td>
                  <td>{{ lab.Entity }}</td>
                  <td>{{ lab.GB }}</td>
                </tr>
              </tbody>
             </table>
             <table class="lab_details_table">
              <thead>
                <tr>
                
                <th style="background-color:rgb(212, 244, 252)">Department Head (DH)</th>
                <th style="background-color:rgb(212, 244, 252)">Local-ITL </th>
                <th style="background-color:rgb(212, 244, 252)">Local-ITL Proxy</th>
                <th style="background-color:rgb(212, 244, 252)">Key Account Manager (KAM)</th>
                </tr>
              </thead>
              <tr>
                
                <td >{{ lab["Department Head (DH)"] }}</td>
                <td>{{ lab["Local-ITL"] }}</td>
                <td>{{ lab["Local-ITL Proxy"] }}</td>
                <td>{{ lab["Key Account Manager (KAM)"] }}</td>
              </tr>
             </table>
             <table class="lab_details_table">
              <thead>
                <tr>
                  
                 
                  <th style="background-color:rgb(212, 244, 252)">Department</th>
                  <th style="background-color:rgb(212, 244, 252)">Floor No</th>
                  <th style="background-color:rgb(212, 244, 252)">Lab No</th>
                  <th style="background-color:rgb(212, 244, 252)">Kind of Lab</th>
                  <th style="background-color:rgb(212, 244, 252)">Shared Lab</th>
                </tr>
              </thead>
              <tbody >
                <tr>
                 
                  
                  <td>{{ lab["Department"] }}</td>
                  <td>{{ lab["Floor"] }}</td>
                  <td>{{ lab["Lab No"] }}</td>
                  <td>{{ lab["Kind of Lab"] }}</td>
                  <td>{{ lab["Shared lab"] }}</td>

                </tr>
              </tbody>
             </table>
             <table class="lab_details_table">
              <thead>
                <tr>
                  <th style="background-color:rgb(212, 244, 252)">Primary Lab Coordinator</th>
                  <th style="background-color:rgb(212, 244, 252)">Secondary Lab Coordinator</th>
                  <th style="background-color:rgb(212, 244, 252)">Cost Center</th>
                  <th style="background-color:rgb(212, 244, 252)">ACL Required</th>
                  
                  
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ lab["Primary Lab Coordinator"] }}</td>
                  <td>{{ lab["Secondary Lab Coordinator"] }}</td>
                  <td>{{ lab["Cost Center"] }}</td>
                  <td>{{lab["ACL Required"]}}</td>
                  
                  
                </tr>
              </tbody>
             </table>
             <table class="lab_details_table">
              <thead>
                <tr>
                  <th style="background-color:rgb(212, 244, 252)">Purpose of Lab in Brief </th>
                  <th style="background-color:rgb(212, 244, 252)">Description </th>
                  
                  <th style="background-color:rgb(212, 244, 252)">Is lab going to procure new equipment for Engineering/Red Zone?</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{lab["Purpose of Lab in Brief"]}}</td>
                  <td>{{lab["Description"]}}</td>
                 
                  <td>{{lab["Is lab going to procure new equipment for Engineering/Red Zone?"]}}</td>
                </tr>
              </tbody>
             </table>
       </mat-card-content>
       </mat-card>
       </div>
       </div>
       <div>
      
        
        
    
    
      

 