<h2 >Self Audit Form :</h2>
<i><b><p style="color:red"> (Select Lab for Audit)</p></b></i>
<link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<form class="search_btn" action="action_page.php">
  <input type="text" [(ngModel)]="searchQuery" placeholder="Search Lab ..." name="search"
  style="margin:auto;max-width:300px" >
<button class="search" (click)="onSearch()"><i class="fa fa-search"></i></button></form>
<p></p>
      <div class="lab-list">
        <div *ngFor="let lab of labList | filter : searchQuery" class="lab-item">
           <!-- Collapsible Section Header -->
          <div class="collapsible-header">
              <mat-card class="custom-card">
              
                <mat-card-content>
                 <p style="color: grey;" >  Lab No -> Entity -> GB ->  Department </p> 
                  
             <b> {{ lab["Lab No"] }} ->
              
               {{ lab.Entity }}  ->  {{ lab.GB }}  ->  {{ lab.Department }}  </b>   
                
               <div class="container">
                <button 
                (click)="toggleDetails(lab._id)"
                class="lab_btn"
               >
             Lab Details
                 </button>
  <button (click)="openForm(lab.Entity)">Self-Audit</button>
            </div> 
            </mat-card-content>
            </mat-card>
            </div>    
      <div *ngIf="isExpanded(lab._id)" class="collapsible-content">
        <p></p>
       
        <mat-card class="custom-card1">
          <mat-card-content>
        <div class="lab-detail">
          <strong class="detail-label">Region : </strong>
          <span class="detail-value">{{ lab.Region }}</span>
        </div>
        <div class="lab-detail">
          <strong class="detail-label">Country : </strong>
          <span class="detail-value">{{ lab.Country }}</span>
        </div>
        <div class="lab-detail">
          <strong class="detail-label">Location : </strong>
          <span class="detail-value">{{ lab.Location }}</span>
        </div>
        <div class="lab-detail">
          <strong class="detail-label">Location-Code : </strong>
          <span class="detail-value">{{ lab["Location-Code"] }}</span>
        </div>
        <div class="lab-detail">
          <strong class="detail-label">Entity :</strong>
          <span class="detail-value">{{ lab.Entity }}</span>
        </div>
        <div class="lab-detail">
          <strong class="detail-label">GB : </strong>
          <span class="detail-value">{{ lab.GB }}</span>
        </div>
        <div class="lab-detail">
          <strong class="detail-label">Local-ITL : </strong>
          <span class="detail-value">{{ lab["Local-ITL"] }}</span>
        </div>
        <div class="lab-detail">
          <strong class="detail-label">Local-ITL Proxy : </strong>
          <span class="detail-value">{{ lab["Local-ITL Proxy"] }}</span>
        </div>
        <div class="lab-detail">
          <strong class="detail-label">Department Head (DH) : </strong>
          <span class="detail-value">{{ lab["Department Head (DH)"] }}</span>
        </div>
        <div class="lab-detail">
          <strong class="detail-label">Key Account Manager (KAM) : </strong>
          <span class="detail-value">{{ lab["Key Account Manager (KAM)"] }}</span>
        </div>
        <div class="lab-detail">
          <strong class="detail-label">Department : </strong>
          <span class="detail-value">{{ lab["Department"] }}</span>
        </div>
        <div class="lab-detail">
          <strong class="detail-label">Floor No : </strong>
          <span class="detail-value">{{ lab["Floor"] }}</span>
        </div>
        <div class="lab-detail">
          <strong class="detail-label">Lab No : </strong>
          <span class="detail-value">{{ lab["Lab No"] }}</span>
        </div>
        <div class="lab-detail">
          <strong class="detail-label">Primary Lab Coordinator : </strong>
          <span class="detail-value">{{ lab["Primary Lab Coordinator"] }}</span>
        </div>
        <div class="lab-detail">
          <strong class="detail-label">Secondary Lab Coordinator : </strong>
          <span class="detail-value">{{ lab["Secondary Lab Coordinator"] }}</span>
        </div>
        <div class="lab-detail">
          <strong class="detail-label">Cost Center : </strong>
          <span class="detail-value">{{ lab["Cost Center"] }}</span>
        </div>
        <div class="lab-detail">
          <strong class="detail-label">Kind of Lab : </strong>
          <span class="detail-value">{{ lab["Kind of Lab"] }}</span>
        </div>
        <div class="lab-detail">
          <strong class="detail-label">Shared Lab : </strong>
          <span class="detail-value">{{ lab["Shared lab"] }}</span>
            </div>
       <p></p>
       </mat-card-content>
       </mat-card>
       </div>
       </div>
       <div>
      
        
        
    
    
      

 