<!-- Code written by Ishita Mukherjee -->

<h2 >Self Audit Form :</h2>
<i><b><p style="color:red"> (Select Lab for Audit)</p></b></i>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<form class="search_btn" action="action_page.php">
  <input type="text" [(ngModel)]="searchQuery" placeholder="Search Lab ..." name="search"
  style="margin:auto;max-width:300px" >
<button class="search" (click)="onSearch()"><i class="fa fa-search"></i></button></form>
<p></p>
      <div class="lab-list">
        <div *ngFor="let lab of labList | filter : searchQuery" class="lab-item">
          <div class="collapsible-header">
              <mat-card class="custom-card">
                <mat-card-content>
                 <p style="color: grey;" >  Lab No -> Entity -> GB ->  Department </p> 
                  <!-- this will fetch the data from the backend  -->
             <b> {{ lab["labNo"] }} ->
              
               {{ lab.entityName }}  ->  {{ lab.gb }}  ->  {{ lab.dep_name }}  </b>   
                
               <div class="container">
                <button 
                (click)="toggleDetails(lab._id)"
                class="lab_btn"
               >
             Lab Details
                 </button>
  <button (click)="openForm(lab.entityName)">Self-Audit</button>
            </div> 
            </mat-card-content>
            </mat-card>
            </div> 
              <!-- It will fetch the details of each and every lab from the backend  -->
      <div *ngIf="isExpanded(lab._id)" class="collapsible-content">
        <p></p>
      
        <mat-card class="custom-card1">
          <mat-card-content>
            <table class="lab_details_table">
              <thead>
              <tr>
                <th style="background-color:rgb(212, 244, 252)">Region</th>
                <th style="background-color:rgb(212, 244, 252)">Country</th>
                <th style="background-color:rgb(212, 244, 252)">Location-Code</th>
                <th style="background-color:rgb(212, 244, 252)">Entity</th>
                <th style="background-color:rgb(212, 244, 252)">GB</th>
              </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ lab.region }} </td>
                  <td>{{ lab.country }}</td>
                  <td>{{ lab["locationCode"] }}</td>
                  <td>{{ lab.entityName }}</td>
                  <td>{{ lab.gb }}</td>
                </tr>
              </tbody>
             </table>
             <table class="lab_details_table">
              <thead>
                <tr>
                <th style="background-color:rgb(212, 244, 252)">Department Head (DH)</th>
                <th style="background-color:rgb(212, 244, 252)">Local-ITL </th>
                <th style="background-color:rgb(212, 244, 252)">Local-ITL Proxy</th>
                <th style="background-color:rgb(212, 244, 252)">Key Account Manager (KAM)</th>
                </tr>
              </thead>
              <tr>
                <td >{{ lab["dh"] }}</td>
                <td>{{ lab["local_itl"] }}</td>
                <td>{{ lab["local_itl_proxy"] }}</td>
                <td>{{ lab["kam"] }}</td>
              </tr>
             </table>
             <table class="lab_details_table">
              <thead>
                <tr>
                  <th style="background-color:rgb(212, 244, 252)">Department</th>
                  <th style="background-color:rgb(212, 244, 252)">Floor No</th>
                  <th style="background-color:rgb(212, 244, 252)">Lab No</th>
                  <th style="background-color:rgb(212, 244, 252)">Kind of Lab</th>
                  <th style="background-color:rgb(212, 244, 252)">Shared Lab</th>
                </tr>
              </thead>
              <tbody >
                <tr> 
                  <td>{{ lab["dep_name"] }}</td>
                  <td>{{ lab["floor"] }}</td>
                  <td>{{ lab["LabNo"] }}</td>
                  <td>{{ lab["kind_of_lab"] }}</td>
                  <td>{{ lab["shared_lab"] }}</td>
                </tr>
              </tbody>
             </table>
             <table class="lab_details_table">
              <thead>
                <tr>
                  <th style="background-color:rgb(212, 244, 252)">Primary Lab Coordinator</th>
                  <th style="background-color:rgb(212, 244, 252)">Secondary Lab Coordinator</th>
                  <th style="background-color:rgb(212, 244, 252)">Cost Center</th>
                  <th style="background-color:rgb(212, 244, 252)">ACL Required</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ lab["primary_lab_cord"] }}</td>
                  <td>{{ lab["secondary_lab_cord"] }}</td>
                  <td>{{ lab["cost_center"] }}</td>
                  <td>{{lab["acl_req"]}}</td>
                </tr>
              </tbody>
             </table>
             <table class="lab_details_table">
              <thead>
                <tr>
                  <th style="background-color:rgb(212, 244, 252)">Purpose of Lab in Brief </th>
                  <th style="background-color:rgb(212, 244, 252)">Description </th>
                  <th style="background-color:rgb(212, 244, 252)">Self Audit Date</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{lab["purpose_of_lab"]}}</td>
                  <td>{{lab["description"]}}</td>
                  <td>{{lab["self_audit_date"]}}</td>
                </tr>
              </tbody>
             </table>
       </mat-card-content>
       </mat-card>
       </div>
       </div>
       <div>






            
