<p></p>
<div class="heading">
  Checklist Form</div>
<p></p>
<table class="checklist_table">
  <thead>
    <tr>
      <th style="background-color:#0088d4">Checklist Id</th>
      <th style="background-color:#0088d4">Location </th>
      <th style="background-color:#0088d4">GB/Unit</th>
      <th style="background-color:#0088d4">Country</th>
      <th style="background-color:#0088d4">Plant</th>
      <th style="background-color:#0088d4">Lab Room</th>
      <th style="background-color:#0088d4">Resp Mgmt</th>
      <th style="background-color:#0088d4">Local ITL</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{checklistid}}</td>
      <td>{{location}}</td>
      <td>{{gb}}</td>
      <td>{{country}}</td>
      <td>{{plant}}</td>
      <td>{{labroom}}</td>
      <td>{{resp_mgt}}</td>
      <td>{{litl}}</td>
    </tr>
  </tbody>
</table>
<table class="checklist_table1">
  <thead>
    <tr>
      <th style="background-color:#0088d4">Local ITL Proxy</th>
      <th style="background-color:#0088d4">Date</th>
      <th style="background-color:#0088d4">Lab Co-ordinator</th>
      <th style="background-color:#0088d4">ACL Implemented</th>
      <th style="background-color:#0088d4">DSO Audited</th>
      <th style="background-color:#0088d4">Criticality</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{litl_proxy}}</td>
      <td>{{ date | date: 'mediumDate' }}</td>
      <td>{{ lab_cord }}</td>
      <td>{{acl}}</td>
      <td>{{dso_adit}}</td>
      <td >{{criticality}}</td>
    </tr>
  </tbody>
</table>




<mat-tab-group>
  <mat-tab label="Self Audit Report">
    <p></p>
    <h3>ITL Audit/Self-audit</h3>

    <div class="heading">Documents</div>
    <p></p>
    <strong style="color:brown">(Please Upload the following documents in the sharepoint)</strong>
    <table class="document_table">
      <thead>
        <tr>
          <th style="background-color:#0088d4">Documents</th>
          <th style="background-color:#0088d4">Link <span class="required"> * </span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>IT Engineering and Research Laboratory Documentation</td>
          <td>
            <form [formGroup]="linkForm" (ngSubmit)="onSubmit()" class="form-control">
              <input id="website" type="url" formControlName="website" placeholder="https://example.com" />
              <div class="url_design" *ngIf="linkForm.get('website')?.invalid && linkForm.get('website')?.touched">
                <small *ngIf="linkForm.get('website')?.errors?.['required']">URL is required.</small>
                <small *ngIf="linkForm.get('website')?.errors?.['pattern']">Please enter a valid URL.</small>
              </div>

            </form>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>Local-ITL and Local-ITL proxy nomination letters </td>
          <td>
            <form [formGroup]="linkForm" (ngSubmit)="onSubmit()" class="form-control">
              <input id="website" type="url" formControlName="website1" placeholder="https://example.com" />
              <div class="url_design" *ngIf="linkForm.get('website1')?.invalid && linkForm.get('website1')?.touched">
                <small *ngIf="linkForm.get('website1')?.errors?.['required']">URL is required.</small>
                <small *ngIf="linkForm.get('website1')?.errors?.['pattern']">Please enter a valid URL.</small>
              </div>
            </form>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>Self audits and Audits</td>
          <td>
            <form [formGroup]="linkForm" (ngSubmit)="onSubmit()" class="form-control">
              <input id="website" type="url" formControlName="website2" placeholder="https://example.com" />
              <div class="url_design" *ngIf="linkForm.get('website2')?.invalid && linkForm.get('website2')?.touched">
                <small *ngIf="linkForm.get('website2')?.errors?.['required']">URL is required.</small>
                <small *ngIf="linkForm.get('website2')?.errors?.['pattern']">Please enter a valid URL.</small>
              </div>
            </form>
          </td>
        </tr>
      </tbody>
      <tbody>
        <tr>
          <td>Emergency plan </td>
          <td>
            <form [formGroup]="linkForm" (ngSubmit)="onSubmit()" class="form-control">
              <input id="website3" type="url" formControlName="website3" placeholder="https://example.com" />
              <div class="url_design" *ngIf="linkForm.get('website3')?.invalid && linkForm.get('website3')?.touched">
                <small *ngIf="linkForm.get('website3')?.errors?.['required']">URL is required.</small>
                <small *ngIf="linkForm.get('website3')?.errors?.['pattern']">Please enter a valid URL.</small>
              </div>
            </form>
          </td>
        </tr>
      </tbody>
    </table>
    <p> (Summary) </p>
    <div class="heading"> Organization </div>
    <p></p>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Question </th>
          <th style="background-color: rgb(35, 205, 23)  ;">Completely Fulfilled</th>
          <th style="background-color: rgb(230, 154, 41) ;">Partially Fulfilled</th>
          <th>Not Fulfilled</th>
          <th>Not Applicable</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center;">12</td>
          <td style="text-align: center;">{{ fulfilledCount }}</td>
          <td style="text-align: center;">{{ partiallyFulfilledCount }}</td>
          <td style="text-align: center;">{{ notFulfilledCount }}</td>
          <td style="text-align: center;">{{notapplicableCount}}</td>

        </tr>
      </tbody>
    </table>
    <div class="heading">Technology </div>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Questions</th>
          <th style="background-color: rgb(35, 205, 23)  ;">Completely Fulfilled</th>
          <th style="background-color: rgb(230, 154, 41) ;">Partially Fulfilled</th>
          <th>Not Fulfilled</th>
          <th>Not Applicable</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center;">16</td>
          <td style="text-align: center;">{{ fulfilledCount1 }}</td>
          <td style="text-align: center;">{{partiallyFulfilledCount1}}</td>
          <td style="text-align: center;">{{notFulfilledCount1}}</td>
          <td style="text-align: center;">{{notapplicableCount1}}</td>
        </tr>
      </tbody>
    </table>
    <div class="heading">Emergency plan</div>
    <p></p>
    <table class="styled-table">
      <thead>
        <tr>
          <th>Questions</th>
          <th style="background-color: rgb(35, 205, 23) ;">Completely Fulfilled</th>
          <th style="background-color: rgb(230, 154, 41) ;">Partially Fulfilled</th>
          <th>Not Fulfilled</th>
          <th>Not Applicable</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="text-align: center;">3</td>
          <td style="text-align: center;">{{ fulfilledCount2 }}</td>
          <td style="text-align: center;">{{partiallyFulfilledCount2}}</td>
          <td style="text-align: center;">{{notFulfilledCount2}}</td>
          <td style="text-align: center;">{{notapplicableCount2}}</td>
        </tr>
      </tbody>
    </table>
    <br>
    <button class="success_btn">Submit</button>
    <p></p>

  </mat-tab>

  <mat-tab label="Check List">
    <div class="tab-content">
      <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
      <app-testaudit></app-testaudit>
    </div>
  </mat-tab>
  <mat-tab label="Lab Questions">
    <p></p>
    <!-- <div *ngFor="let question of questions" class="question_design"> -->
    <div class="heading_design">
      <h3>Lab Questions</h3>
    </div>
    <link href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <strong style="color:red">(Note: These questions are used for risk assessment e.g. for ITL audit planning by GB-ITE
      with the GB/DSO.)</strong>

    <p></p>

    <div class="container_design">
      <div class="question_design">
        <div *ngIf="questions.length > 0">
          <p></p>
          <div style="color:white ; text-align:left"><strong>{{ questions[0]?.questionDescription }}</strong> <span
              class="required"> * </span>
          </div>
          <!-- <p></p><br>1. How many associates does the laboratory area have?<span class="required"> * </span> -->

          <p></p>
        </div>
      </div>


      <table style="border: spacing 10px;">
        <thead>
          <tr>
            <td style="width: 5px;"></td>
            <td><strong><label for="internalEmployeeCount"> No.of Internal Associates </label> </strong></td>
            <td style="width: 5px;"></td>
            <td> <b><br> <label for="externalEmployeeCount"> No.of External Associates </label></b> </td>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="width: 5px;"></td>
            <!-- <div *ngIf="showInternalExternalFields"> -->
            <td> <input class="form-control" id="internalEmployeeCount" type="text" placeholder="Internal Associates"
                [(ngModel)]="headCount[0]" name="externalandinternalassociatescount"></td>
            <td style="width: 5px;"></td>
            <td><input class="form-control" id="externalEmployeeCount" type="text" placeholder="External Associates"
                [(ngModel)]="headCount[1]" name="externalandinternalassociatescount"></td>
            <!-- </div> -->
          </tr>
        </tbody>
      </table>
      <p></p>
    </div>


    <p></p>

    <div class="container_design">
      <div class="question_design">
        <!-- <div *ngFor="let question of questions">
      <p><strong>{{ question.questionDescription }}</strong></p></div> -->
        <!-- <div *ngIf="questions.length > 1"> -->
        <p></p>
        <div style="color:white ; text-align:left"><strong>{{ questions[1]?.questionDescription }}</strong> <span
            class="required"> * </span>
          <div class="tooltip"><i class="icon-info-sign"></i><span class="tooltiptext">
              <div style="margin-left: 2px;">Used for estimating damage, failure, or action with respect to laboratory
                size.</div>
            </span>
          </div>

        </div>
        <p></p>
      </div>
      <p></p>
      <!-- <div *ngIf="question.questionId === 2"> -->
      <input type="text" placeholder="No.of Devices" [(ngModel)]="itDevice" name="itDevice" style="margin-left: 10px;">
      <p></p>
    </div>

    <!-- </div> -->
    <!-- </div> -->


    <p></p>
    <div class="container_design">
      <div class="question_design">
        <p></p>
        <div style="color:white ; text-align:left"><strong>{{ questions[2]?.questionDescription }}</strong> <span
            class="required"> * </span>
          <!-- <br> 3. Is the lab(s) (including IT systems) completely independent to network-dependent IT infrastructures into LAN?

     <span class="required"> * </span> -->
          <div class="tooltip"><i class="icon-info-sign"></i>
            <span class="tooltiptext">Do components exist that can affect multiple labs if they fail?</span>
            <p></p>
          </div>
        </div>
      </div>
      <p></p>

      <!-- Your form and radio buttons here -->
      <mat-radio-group [(ngModel)]="dependancy[0]">
        <mat-radio-button class="ACL-margin" value="ACL1-yes">Yes</mat-radio-button>
        <mat-radio-button class="ACL-margin" value="ACL1-no">No</mat-radio-button>
      </mat-radio-group>

      <p></p>
    </div>
    <br>
    <p></p>
    <div class="portdetails" *ngIf="dependancy[0] === 'ACL1-yes'">
      <div class="container_design">
        <div class="question_design">Answers</div>


        <div class="dropdown-container">
          <div class="dropdown-item">
            <input type="text" placeholder="Answers" [(ngModel)]="dependancy[1]" name="dependancy">
          </div>
        </div>
      </div>
    </div>
    <p></p>
    <div class="portdetails" *ngIf="dependancy[0] === 'ACL1-no'">
      <div class="container_design">
        <div class="question_design">Explanation</div>
        <div class="dropdown-container">
          <div class="dropdown-item">

            <input type="text" placeholder="Explanation" [(ngModel)]="dependancy[1]" name="dependancy">
          </div>
        </div>

      </div>
    </div>
    <p></p>
    <div class="container_design">
      <div class="question_design">
        <p></p>
        <div style="color:white ; text-align:left"><strong>{{ questions[3]?.questionDescription }}</strong> <span
            class="required"> * </span>
          <!-- <br> 4. Can the lab tests be performed without a WAN connection or for how long? <span class="required"> * </span> -->
          <div class="tooltip"><i class="icon-info-sign"></i>
            <span class="tooltiptext">What is the acceptable downtime for the WAN infrastructure?</span>
            <p></p>
          </div>
        </div>
      </div>
      <p></p>

      <mat-card-content>
        <!-- Your form and radio buttons here -->
        <mat-radio-group [(ngModel)]="wan[0]">
          <mat-radio-button class="ACL-margin" value="ACL1-yes">Yes</mat-radio-button>
          <mat-radio-button class="ACL-margin" value="ACL1-no">No</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
      <p></p>
    </div>
    <br>
    <p></p>
    <div class="portdetails" *ngIf="wan[0] === 'ACL1-yes'">
      <div class="container_design">
        <div class="question_design">Acceptable downtime <span class="required"> * </span></div>

        <div class="dropdown-container">
          <div class="dropdown-item">
            <input type="text" placeholder="Acceptable downtime" [(ngModel)]="wan[1]" name="wan">
          </div>
        </div>
      </div>

    </div>
    <p></p>
    <div class="portdetails" *ngIf="wan[0] === 'ACL1-no'">
      <div class="container_design">
        <div class="question_design">Answers<span class="required"> * </span></div>

        <div class="dropdown-container">
          <div class="dropdown-item">

            <input type="text" placeholder="Answers" [(ngModel)]="wan[1]" name="wan">
          </div>
        </div>

      </div>
    </div>
    <p></p>
    <div class="container_design">
      <div class="question_design">
        <p></p>

        <!-- <br> 5. Can other laboratories at Bosch perform the same tests?<span class="required"> * </span> -->
        <div style="color:white ; text-align:left"><strong>{{ questions[4]?.questionDescription }}</strong> <span
            class="required"> * </span>

          <div class="tooltip"><i class="icon-info-sign"></i>
            <span class="tooltiptext">Reference to external redundancy. Could experiments be taken over by another RB
              lab in case of failures? What is the name of the laboratory and where is it located?</span>
            <p></p>
          </div>
        </div>
      </div>
      <p></p>

      <mat-card-content>
        <!-- Your form and radio buttons here -->
        <mat-radio-group [(ngModel)]="test[0]">
          <mat-radio-button class="ACL-margin" value="ACL2-yes">Yes</mat-radio-button>
          <mat-radio-button class="ACL-margin" value="ACL2-no">No</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
      <p></p>
    </div>
    <br>
    <p></p>
    <div class="portdetails" *ngIf="test[0] === 'ACL2-yes'">
      <div class="container_design">
        <div class="question_design"> Name and Location of the Lab <span class="required"> * </span></div>

        <div class="dropdown-container">
          <div class="dropdown-item">

            <input type="text" placeholder="Answers" [(ngModel)]="test[1]">
          </div>
        </div>

      </div>
    </div>
    <p></p>
    <div class="container_design">
      <div class="question_design">
        <p></p>
        <!-- <p></p> <br> 6. What is the maximum time the lab may be down? <span class="required"> * </span> -->
        <div style="color:white ; text-align:left"><strong>{{ questions[5]?.questionDescription }}</strong> <span
            class="required"> * </span>
          <div class="tooltip"><i class="icon-info-sign"></i>
            <span class="tooltiptext">What is the maximum acceptable downtime (e. g. 1 hour, 1 day, 1 week) of the IT
              infrastructure or individual components?</span>
            <p></p>
          </div>
        </div>
      </div>
      <p></p>



      <input type="text" placeholder="Maximum acceptable downtime" style="margin-left: 10px;" [(ngModel)]="downtime"
        name="maxdowntime">

      <p></p>
    </div>
    <p></p>
    <div class="container_design">
      <div class="question_design">
        <p></p>
        <!-- <br> 7. Do run-time critical tests take place over a longer period of time (e.g. endurance tests)? <span class="required"> * </span> -->
        <div style="color:white ; text-align:left"><strong>{{ questions[6]?.questionDescription }}</strong> <span
            class="required"> * </span>
          <div class="tooltip"><i class="icon-info-sign"></i>
            <span class="tooltiptext">Reference to possible compensation through redundancies
              (e. g. further local test stands or at other locations).</span>
            <p></p>
          </div>
        </div>
      </div>
      <p></p>

      <mat-card-content>
        <!-- Your form and radio buttons here -->
        <mat-radio-group [(ngModel)]="criticalTest[0]">
          <mat-radio-button class="ACL-margin" value="ACL3-yes">Yes</mat-radio-button>
          <mat-radio-button class="ACL-margin" value="ACL3-no">No</mat-radio-button>
        </mat-radio-group>


      </mat-card-content>
      <p></p>
    </div>
    <br>
    <p></p>
    <div class="portdetails" *ngIf="criticalTest[0] === 'ACL3-yes'">
      <div class="container_design">
        <div class="question_design">Total Time Required<span class="required"> * </span></div>

        <div class="dropdown-container">
          <div class="dropdown-item">

            <input type="text" placeholder="Time Required" [(ngModel)]="criticalTest[1]">
          </div>
        </div>
      </div>
    </div>
    <p></p>
    <div class="portdetails" *ngIf="criticalTest[0] === 'ACL3-no'">
      <div class="container_design">
        <div class="question_design">Answers<span class="required"> * </span></div>
        <div class="dropdown-container">
          <div class="dropdown-item">

            <input type="text" placeholder="Answers" [(ngModel)]="criticalTest[1]">
          </div>
        </div>
      </div>

    </div>
    <p></p>
    <div class="container_design">
      <div class="question_design">
        <p></p>
        <!-- <br>8. Are other RB sites involved in the trials? Are other GBs affected by a failure?
   <span class="required"> * </span> -->
        <div style="color:white ; text-align:left"><strong>{{ questions[7]?.questionDescription }}</strong> <span
            class="required"> * </span>
          <div class="tooltip"><i class="icon-info-sign"></i>
            <span class="tooltiptext">Damage extension in the event of failures.</span>
            <p></p>
          </div>
        </div>
      </div>
      <p></p>
      <mat-card-content>
        <!-- Your form and radio buttons here -->
        <mat-radio-group [(ngModel)]="trial[0]">
          <mat-radio-button class="ACL-margin" value="ACL-yes">Yes</mat-radio-button>
          <mat-radio-button class="ACL-margin" value="ACL-no">No</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
      <p></p>
    </div>
    <p></p>
    <div class="portdetails" *ngIf="trial[0] === 'ACL-no'">

      <div class="container_design">
        <div class="question_design"> Answers<span class="required" name="answer7"> * </span> </div>
        <div class="dropdown-container">
          <div class="dropdown-item">
            <input type="text" placeholder="Answers" [(ngModel)]="trial[1]">
          </div>
        </div>

      </div>
    </div>
    <p></p>
    <div class="portdetails" *ngIf="trial[0] === 'ACL-yes'">
      <div class="container_design">
        <div class="question_design"> Answers<span class="required"> * </span> </div>
        <div class="dropdown-container">

          <div class="dropdown-item">
            <input type="text" placeholder="Answers" [(ngModel)]="trial[1]">
          </div>
        </div>

      </div>
    </div>

    <p></p>
    <div class="container_design">
      <div class="question_design">
        <p></p>
        <!-- <br>9. Can the laboratory tests be performed on a test bench without LAN connection or for how long?<span class="required"> * </span> -->
        <div style="color:white ; text-align:left"><strong>{{ questions[8]?.questionDescription }}</strong> <span
            class="required"> * </span>
          <div class="tooltip"><i class="icon-info-sign"></i>
            <span class="tooltiptext">Is the network structure of the laboratories (network zones, network transitions,
              redundant star structure, ...) implemented appropriately?</span>
            <p></p>
          </div>
        </div>
      </div>
      <p></p>
      <mat-card-content>
        <!-- Your form and radio buttons here -->
        <mat-radio-group [(ngModel)]="lan[0]">
          <mat-radio-button class="ACL-margin1" value="ACL4-yes">Yes</mat-radio-button>
          <mat-radio-button class="ACL-margin1" value="ACL4-no">No</mat-radio-button>
        </mat-radio-group>
      </mat-card-content>
      <p></p>
    </div>
    <br>
    <p></p>
    <div class="portdetails" *ngIf="lan[0] === 'ACL4-yes'">
      <div class="container_design">
        <div class="question_design"> Total Time Required<span class="required"> * </span></div>

        <div class="dropdown-container">
          <div class="dropdown-item">
            <input type="text" placeholder="Time Required" [(ngModel)]="lan[1]">
          </div>
        </div>
      </div>

    </div>

    <p></p>
    <div class="portdetails" *ngIf="lan[0] === 'ACL4-no'">
      <div class="container_design">
        <div class="question_design"> Answers<span class="required"> * </span></div>

        <div class="dropdown-container">
          <div class="dropdown-item">
            <input type="text" placeholder="Answers" [(ngModel)]="lan[1]">
          </div>
        </div>

      </div>
    </div>
    <p></p>
    <div class="container_design">
      <div class="question_design">
        <p></p>
        <!-- <p></p><br> 10.What is the confidentiality of the data processed in the laboratory?<span class="required"> * </span> -->
        <div style="color:white ; text-align:left"><strong>{{ questions[9]?.questionDescription }}</strong> <span
            class="required"> * </span>
          <div class="tooltip"><i class="icon-info-sign"></i>
            <span class="tooltiptext">Please indicate the highest confidentiality class
              (C-SC0 to C-SC3) of the data that will be processed</span>
            <p></p>
          </div>
        </div>
      </div>
      <p></p>

      <select [(ngModel)]="confidentiality" name="confidentiality" style="margin-left: 10px;">
        <option>Select an option</option>
        <option>C-SC0</option>
        <option>C-SC1</option>
        <option>C-SC2</option>
        <option>C-SC3</option>
      </select>
      <p></p>
    </div>
    <p></p>
    <br> <button class="primary">Save as Draft</button>
    <button type="button" class="success_btn" (click)="saveForm()">Save</button>
    <p></p>
    <!-- </div> -->
  </mat-tab>

</mat-tab-group>
