input[type=text]
{
 width: 340px;
 padding: 10px 15px;
 margin: 8px 0;
 display: inline-block;
 border: 2px solid #f7f0f0;
 background-color: white;
 border-radius: 8px;
 box-sizing: border-box;
 border: 1.2px solid rgb(107, 124, 194);
}
select
{
 width: 400px;
 padding: 10px 15px;
 margin: 8px 0;
 display: inline-block;
 border: 2px solid #6e6d6d;
 background-color: white;
 border-radius: 8px;
 box-sizing: border-box;
 border: 1.2px solid rgb(107, 124, 194);
}
.tooltip 
{
 position: relative;
 display: inline-block;

}
.tooltiptext 
{
 visibility: hidden;

 --r: 10px; /* control the radius */
 --h: 10px; /* control the height of the tail */
 --p: 5%;  /* control the position of the tail */

 padding: 10px 0;
 width: 223px;
 background-color: rgb(143, 141, 146);
 color: #fff;
 text-align: center;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 border-radius: 10px;
 position: absolute;
 z-index: 1;
 top: -50px;
 left: 100%;
 border-bottom: var(--h) solid #0000;
 --m:
   /* adjust the angles of the 1st conic-gradient to control the shape */
   conic-gradient(from 30deg at var(--p) 100%,#0000,#000 1deg 30deg,#0000 31deg)
    0 100%/100% calc(100% - var(--r)) no-repeat,
   conic-gradient(at calc(var(--r)/2) calc(var(--r)/2),#000 270deg,#0000 0)
    0 0/calc(100% - var(--r)/2) calc(100% - var(--r)/2) padding-box,
   radial-gradient(50% 50%,#000 98%,#0000) 
    0 0/var(--r) var(--r) space padding-box;
 -webkit-mask: var(--m);
         mask: var(--m);
 
   
 
 font-size: 15px;
 
 color: #fff;
}
 .tooltip:hover .tooltiptext 
 {

   visibility: visible;

 }
.button
{
 
  background: rgb(38, 124, 237);
 border-radius: 10px;
 padding: 11px;
 width: 120px;
 color: white;
 position: relative;
   left: 35%;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: medium;
   font-weight: bold;
   
}
.custom-card 
{
 /* Custom background color */
border-radius: 0px; /* Rounded corners */
padding: 5px;/* Padding inside the card */
width: 1200px;
box-sizing: border-box;
box-shadow: 0 0 15px 1px rgba(105, 142, 159, 0.4);
display: flex;
justify-content: space-between;
gap: 20px;
background: white;

box-shadow: 0 0 15px 1px rgba(105, 142, 159, 0.4);
padding: 10px 20px;
box-sizing: border-box;
margin: 0 10%;
margin-bottom: 20px;
margin-left: 10px;
margin-top: 10px;
}

.custom-input .mat-input-element  
{
color: #201f1f; /* Custom text color */
font-size: 5px; /* Custom font size */
border-radius: 60px;

}

.custom-input .mat-form-field-underline 
{
background-color: #007bff; /* Custom underline color */
}
.dropdown-container
{
padding: 20px;
background-color: white;
border-radius: 20px; 

}

.small-input 
{
width: 230px; /* Custom width for the input box */
height: 10px; /* Custom height for the input box */
padding: 5px; /* Padding inside the input box */
}
.small-input1 
{
width: 250px; /* Custom width for the input box */
height: 10px; /* Custom height for the input box */
padding: 5px; /* Padding inside the input box */
text-align: left
}
.required
{
color: #fd0303;
}
p
{
text-align: center;
}
u
{
color: rgb(233, 219, 32);
}
svg
{
width: 20px;
height: 15px;
}
.tooltip1 
{
position: relative;
display: inline-block;

}
.tooltiptext1 
{
visibility: hidden;

--r: 10px; /* control the radius */
--h: 10px; /* control the height of the tail */
--p: 5%;  /* control the position of the tail */


padding: 10px 0;
 width: 500px;
background-color: rgb(115, 207, 123);
color:black;
text-align: center;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
border-radius: 0px;

border-color: #000;
position: absolute;
z-index: 1;
top: -50px;
left: 100%;
border-bottom: var(--h) solid #0000;
font-size: 15px;
color: #fff;
}
.tooltip1:hover .tooltiptext1
{
   visibility: visible;
 }

p
{
 text-align: left;
 font-size: medium;
}
h1
{
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 50px;
 color: rgb(110, 61, 61);
 text-align: center;
 background-color: #f3f1f1;
}
h2
{
 background-color: #f3f1f1;
 color: rgb(110, 61, 61);
 text-align: center;

}
 .btn 
 {
 font-size: 16px;
 padding: 10px 20px;
 border: none;
 border-radius: 5px;
 cursor: pointer;
 transition: background-color 0.3s, box-shadow 0.3s;
}
 .primary 
 {
   background: rgb(55, 133, 234);
   color: white;
   border-radius: 8px;
 padding: 11px;
 width: 120px;
   position: relative;
   left: 35%; 
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: medium;
   font-weight: bold;
   &:hover {
     background-color: #336fae;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }
 }
 .success_btn
 {
   width: 100px;
   border-radius: 8px;
 padding: 11px;
 width: 120px;
   background: #35a71e;
   color: white;
   position: relative;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: medium;
   font-weight: bold;
   left: 36%; 
   &:hover {
     background-color: #0aa82d;
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   }
 }

 .styled-table 
 {
   width: 100%;
   border-collapse: collapse;
   margin: 25px 0;
   font-size: 18px;
   text-align: left;
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
 }
 th
 {
   height: 30px;
   text-align: center;
 }
 td
 {
   height: 30px;
 }
 p
 {
   text-align: center;
   color: grey;
   font-size: large;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
 }
 .custom-input 
 {
   width: 340.5px;
   padding: 10px 15px;
   margin: 6px 0;
   display: inline-block;
   border: 2px solid #f7f0f0;
   background-color: white;
   border-radius: 8px;
   box-sizing: border-box;
   border: 1.7px solid rgb(102, 122, 204);
 }
 
 /* Custom label style */
 .custom-label
  {
   color: #3f51b5; /* Example color */
   font-weight: bold;
 }
 
 /* Custom styles for the datepicker toggle icon */
 .custom-datepicker-toggle .mat-datepicker-toggle-default-icon 
 {
   color: #3f51b5; /* Example color */
 }
 
 /* Custom styles for mat-datepicker */
 .custom-datepicker .mat-datepicker-content 
 {
   background-color: white; /* Example color */
 }
 
 /* Custom styles for the mat-form-field underline */
 .custom-form-field .mat-form-field-underline 
 {
   background-color: #3f51b5; /* Example color */
 }
 
 /* Custom styles for the mat-form-field wrapper */
 .custom-form-field .mat-form-field-wrapper 
 {
   background-color: white; /* Example color */
 }
 
 h4{
  color: #465bd3;
  text-align: center;
  background-color: #e9e9e9;
}

   

 









